In [ ]:
!pip install pycountry

Requirement already satisfied: pycountry in /usr/local/lib/python3.11/dist-packages (24.6.1)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import Pipeline
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.impute import SimpleImputer
import re
from sklearn.feature_extraction.text import TfidfVectorizer
import pycountry
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler, OneHotEncoder, MinMaxScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.svm import SVR
from sklearn.ensemble import VotingRegressor
from sklearn.svm import SVC

In [ ]:
data =pd.read_csv('Acquiring Tech Companies.csv')

In [ ]:
data.isna().sum()

Acquiring Company                            0
CrunchBase Profile                           0
Image                                        0
Tagline                                      0
Market Categories                            0
Year Founded                                 0
IPO                                          1
Founders                                     0
Number of Employees                          1
Number of Employees (year of last update)    1
Total Funding ($)                            0
Number of Acquisitions                       0
Board Members                                2
Address (HQ)                                 0
City (HQ)                                    2
State / Region (HQ)                          3
Country (HQ)                                 0
Description                                  0
Homepage                                     0
Twitter                                      1
Acquired Companies                           0
Acquisitions ID                              0
API                                          0
dtype: int64

In [ ]:
data

,Acquiring Company,CrunchBase Profile,Image,Tagline,Market Categories,Year Founded,IPO,Founders,Number of Employees,Number of Employees (year of last update),...,Address (HQ),City (HQ),State / Region (HQ),Country (HQ),Description,Homepage,Twitter,Acquired Companies,Acquisitions ID,API
0,Adobe,www.crunchbase.com/organization/adobe-systems,http://a2.images.crunchbase.com/image/upload/c...,Adobe is an American multinational computer so...,"Photo Editing, Design, Creative, Software, Ima...",1982,1986,"John Warnock, Charles Geschke","11,144",2012.0,...,"San Jose, California, United States",San Jose,California,United States,Adobe Systems is an American multinational com...,http://www.adobe.com,http://twitter.com/Adobe,"Accelio Corporation, Aldus Corp, Amicima, Ares...",Adobe Systems acquired Accelio Corporation in ...,http://api.crunchbase.com/v/2/organization/ado...
1,Amazon,www.crunchbase.com/organization/amazon,http://a4.images.crunchbase.com/image/upload/c...,Amazon is an international e-commerce company ...,"Groceries, Consumer Goods, Crowdsourcing, E-Co...",1994,1997,Jeff Bezos,"132,600",2014.0,...,"1200 12th Ave, Seattle, WA 98144, USA",Seattle,Washington,United States,Amazon.com is an American international e-comm...,http://amazon.com,http://twitter.com/amazon,"AbeBooks, Accept.Com, Alexa, Amie Street, Audi...","Amazon acquired AbeBooks in 2008, Amazon acqui...",http://api.crunchbase.com/v/2/organization/ama...
2,AOL,www.crunchbase.com/organization/aol,http://a5.images.crunchbase.com/image/upload/c...,AOL is a Brand company committed to innovating...,"News, Advertising Platforms, Content Creators,...",1985,2009,"Marc Seriff, Steve Case, Jim Kimsey","5,600",2012.0,...,"770 Broadway, New York City, New York, United ...",New York City,New York,United States,AOL is a global advertising-supported Web comp...,http://www.aol.com,http://twitter.com/aol,"5min Media, Adap.tv, ADTECH, Advertising.com, ...","AOL acquired 5min Media in 2010, AOL acquired ...",http://api.crunchbase.com/v/2/organization/aol...
3,Apple,www.crunchbase.com/organization/apple,http://a4.images.crunchbase.com/image/upload/c...,Apple is a multinational corporation that desi...,"Computers, Consumer Electronics, Hardware + So...",1976,1980,"Steve Jobs, Ronald Wayne, Steve Wozniak","98,000",2014.0,...,"1 Infinite Loop, Cupertino, California, United...",Cupertino,California,United States,Apple is an American multinational corporation...,http://www.apple.com,NaN,"AlgoTrim, Anobit Technologies, AuthenTec, Beat...","Apple acquired AlgoTrim in 2013, Apple acquire...",http://api.crunchbase.com/v/2/organization/app...
4,AT&T,www.crunchbase.com/organization/at-t,http://a4.images.crunchbase.com/image/upload/c...,AT&T provides telecommunications services such...,Mobile,2000,1983,Alexander Graham Bell,"246,740",2013.0,...,"208 S. Akard St, Dallas, Texas, United States",Dallas,Texas,United States,AT&T Inc. AT&T is a holding company. AT&T is a...,http://www.att.com,http://twitter.com/ATT,"Centennial Communications Corp, Dobson Communi...",AT&T acquired Centennial Communications Corp i...,http://api.crunchbase.com/v/2/organization/at-...
5,BlackBerry,www.crunchbase.com/organization/blackberry,http://a1.images.crunchbase.com/image/upload/c...,BlackBerry manufactures wireless communication...,"Hardware + Software, RIM, Wireless, Mobile",1984,1999,Mike Lazaridis,NaN,NaN,...,"295 Phillip Street, Waterloo, Ontario, Canada",Waterloo,Ontario,Canada,BlackBerry formerly Research in Motion is a Ca...,http://us.blackberry.com,http://twitter.com/BlackBerry,"Alt-N Technologies, Ascendent Systems, Cellman...",BlackBerry acquired Alt-N Technologies in 2009...,http://api.crunchbase.com/v/2/organization/bla...
6,CA Technologies,www.crunchbase.com/organization/ca,http://a1.images.crunchbase.com/image/upload/c...,IT Software Company,Software,1974,1981,"Russell M. Artzt, Charles Wang","12,600",2014.0,...,"One CA Plaza, Islandia, New York, United States",Islandia,New York,United States,"CA, Inc., together with its subsidiaries, enga...",http://www.ca.com,http://twitter.com/CAinc,"3Tera, Arcot Systems, Base Technologies, Cassa...","CA Technologies acquired 3Tera in 2010, CA Tec...",http://api.crunchbase.com/v/2/organization/ca?...
7,Cisco Systems,www.crunchbase.com/organization/cisco,http://a5.images.crunchbase.com/image/upload/c...,Cisco Systems is an American multinational cor...,"Networking, Web Hosting, Software, Hardware",1984,1990,"Leonard Bosack, Sandy Lerner","74,042",2014.0,...,"170 West Tasman Dr., San Jose, California, Uni...",San Jose,California,United States,"Cisco designs and sells hardware, software, ne...",http://www.cisco.com,http://twitter.com/CiscoSystems,"Active Voice Corporation, Actona Technologies,...",Cisco acquired Active Voice Corporation in 200...,http://api.crunchbase.com/v/2/organization/cis...
8,Comcast,www.crunchbase.com/organization/comcast,http://a4.images.crunchbase.com/image/upload/c...,"Comcast provides cable, entertainment and comm...",Web Hosting,1963,1990,"Daniel Aaron, Edward Rex, Ralph J. Roberts, Ju...","136,000",2012.0,...,"1701 JFK Blvd, Philadelphia, Pennsylvania, Uni...",Philadelphia,Pennsylvania,United States,Comcast Corporation is the largest mass media ...,http://comcast.com,http://twitter.com/comcast,"Adelphia Communications, DailyCandy, Fandango,...",Comcast acquired Adelphia Communications in 20...,http://api.crunchbase.com/v/2/organization/com...
9,Dell,www.crunchbase.com/organization/dell,http://a4.images.crunchbase.com/image/upload/c...,Dell is a multinational technology company tha...,Hardware + Software,1984,1988,Michael Dell,"108,800",2013.0,...,"1 Dell Way, Round Rock, Texas, United States",Round Rock,Texas,United States,Dell is an end-to-end solutions provider that ...,http://www.dell.com,http://twitter.com/Dell,"Acs (UK), Alienware, AppAssure Software, ASAP ...","Dell acquired Acs (UK) in 2006, Dell acquired ...",http://api.crunchbase.com/v/2/organization/del...
10,Dropbox,www.crunchbase.com/organization/dropbox,http://a5.images.crunchbase.com/image/upload/c...,Dropbox operates a free file hosting service t...,"Web Hosting, Storage",2007,Not yet,"Arash Ferdowsi, Drew Houston",642,2014.0,...,"185 Berry St, San Francisco, CA 94107, USA",San Francisco,California,United States,Dropbox was founded in 2007 by Drew Houston an...,http://www.dropbox.com,http://twitter.com/Dropbox,"Audiogalaxy, Bubbli, Cove, Droptalk, Endorse, ...","Dropbox acquired Audiogalaxy in 2012, Dropbox ...",http://api.crunchbase.com/v/2/organization/dro...
11,eBay,www.crunchbase.com/organization/ebay,http://a4.images.crunchbase.com/image/upload/c...,eBay is an online auction and eCommerce market...,"Business Services, All Markets, Search, Auctio...",1995,1998,Pierre Omidyar,"33,500",2013.0,...,"2145 Hamilton Avenue, San Jose, CA 95125, USA",San Jose,California,United States,"Founded in 1995 in San Jose, CA, eBay connects...",http://ebay.com,http://twitter.com/eBay,"2dehands.be, 2ememain.be, alando.de, Baazee, B...","eBay acquired 2dehands.be in 2013, eBay acquir...",http://api.crunchbase.com/v/2/organization/eba...
12,EMC,www.crunchbase.com/organization/emc,http://a4.images.crunchbase.com/image/upload/c...,EMC manufactures information management and st...,Enterprise Software,1979,1986,"Richard Egan, Roger Marino","63,900",2013.0,...,"176 South Street, Hopkinton, Massachusetts, Un...",Hopkinton,Massachusetts,United States,EMC is a global leader in enabling businesses ...,http://emc.com,http://twitter.com/EMCcorp,"Acartus, Adaptivity, Allocity, Archer Technolo...","EMC acquired Acartus in 2005, EMC acquired Ada...",http://api.crunchbase.com/v/2/organization/emc...
13,Facebook,www.crunchbase.com/organization/facebook,http://a1.images.crunchbase.com/image/upload/c...,Facebook is an online social networking servic...,"Networking, Communities, Colleges, Identity, A...",2004,2012,"Eduardo Saverin, Andrew McCollum, Chris Hughes...","7,185",2014.0,...,"1601 Willow Road, Menlo Park, CA 94025, USA",Menlo Park,California,United States,Facebook is the world’s largest social network...,http://facebook.com,http://twitter.com/facebook,"Atlas Advertiser Suite, Beluga, Bolt | Peters,...",Facebook acquired Atlas Advertiser Suite in 20...,http://api.crunchbase.com/v/2/organization/fac...
14,Google,www.crunchbase.com/organization/google,http://a2.images.crunchbase.com/image/upload/c...,Google is a search and advertising service pro...,"Software, Video Streaming, Email, Search, Info...",1998,2004,"Larry Page, Sergey Brin","52,069",2014.0,...,"1600 Amphitheatre Pkwy, Mountain View, CA 9404...",Mountain View,California,United States,Google provides search and advertising service...,http://google.com,http://twitter.com/google,"@Last Software, 2Web Technologies, Aardvark, A...","Google acquired @Last Software in 2006, Google...",http://api.crunchbase.com/v/2/organization/goo...
15,HP,www.crunchbase.com/organization/hewlett-packard,http://a4.images.crunchbase.com/image/upload/c...,Hewlett-Packard is a multinational IT corporat...,"Curated Web, Information Technology",1939,1978,"David Packard, William Redington Hewlett","317,500",2013.0,...,"1501 Page Mill Rd, Palo Alto, California, Unit...",Palo Alto,California,United States,Hewlett-Packard technology corporation headqua...,http://www.hp.com,http://twitter.com/HP,"3Com, 3PAR, ABB CADE, Apollo Computer, AppIQ, ...","HP acquired 3Com in 2009, HP acquired 3PAR in ...",http://api.crunchbase.com/v/2/organization/hew...
16,IBM,www.crunchbase.com/organization/ibm,http://a4.images.crunchbase.com/image/upload/c...,IBM is an IT technology and consulting firm pr...,Software,1896,1978,Thomas J. Watson,"431,212",2013.0,...,"New Orchard Road, Armonk, New York, United States",Armonk,New York,United States,"IBM, acronym for International Business Machin...",http://www.ibm.com,http://twitter.com/IBM,"Access360, Algorithmics, AlphaBlox Corporation...","IBM acquired Access360 in 2002, IBM acquired A...",http://api.crunchbase.com/v/2/organization/ibm...
17,Intel,www.crunchbase.com/organization/intel,http://a1.images.crunchbase.com/image/upload/c...,Intel manufactures microprocessors for persona...,Hardware + Software,1968,1978,"Gordon Moore, Robert Noyce","107,600",2103.0,...,"2200 Mission College Blvd, Santa Clara, Califo...",Santa Clara,California,United States,Intel Corporation is a California-based multin...,http://www.intel.com,http://twitter.com/intel,"Aepona, Ambient Technologies, Avago Technologi...","Intel acquired Aepona in 2013, Intel acquired ...",http://api.crunchbase.com/v/2/organization/int...
18,Juniper Networks,www.crunchbase.com/organization/juniper-networks,http://a4.images.crunchbase.com/image/upload/c...,"Juniper Networks designs, develops and sells p...","Communications Hardware, Security, Technology",1996,1999,Pradeep Sindhu,"9,483",2013.0,...,"1194 North Mathilda Avenue, Sunnyvale, Califor...",Sunnyvale,California,United States,"Juniper Networks, Inc. Juniper Networks design...",http://www.juniper.net,http://twitter.com/JuniperNetworks,"Altor Networks, Ankeena Networks, Blackwave, C...",Juniper Networks acquired Altor Networks in 20...,http://api.crunchbase.com/v/2/organization/jun...
19,LinkedIn,www.crunchbase.com/organization/linkedIn,http://a1.images.crunchbase.com/image/upload/c...,LinkedIn is a professional networking site tha...,"Social Recruiting, Networking, Software, Socia...",2003,2011,"Eric Ly, Reid Hoffman, Konstantin Guericke, Al...","5,400",2014.0,...,"2029 Stierlin Ct, Mountain View, California, U...",Mountain View,California,United States,LinkedIn is the world's largest professional n...,http://linkedin.com,http://twitter.com/linkedin,"Bizo, Bright.com, CardMunch, ChoiceVendor, Con...","LinkedIn acquired Bizo in 2014, LinkedIn acqui...",http://api.crunchbase.com/v/2/organization/lin...
20,Microsoft,www.crunchbase.com/organization/microsoft,http://a1.images.crunchbase.com/image/upload/c...,"Microsoft, a software corporation, develops li...","Video Games, Software",1974,1986,"Bill Gates, Paul Allen","128,076",2014.0,...,"1 Microsoft Way, Redmond, WA, USA",Redmond,Washington,United States,Microsoft is an American multinational corpora...,http://www.microsoft.com,http://twitter.com/Microsoft,"90 Degree Software, ActiveViews, AdECN, Alacri...","Microsoft acquired 90 Degree Software in 2008,...",http://api.crunchbase.com/v/2/organization/mic...
21,Nokia,www.crunchbase.com/organization/nokia,http://a5.images.crunchbase.com/image/upload/c...,Nokia is a Finnish IT and communications compa...,Mobile,1865,1994,"Fredrik Idestam, Leo Mechelin","90,981",2013.0,...,"Keilalahdentie 2-4, Finnmark, Norway, Norway",Finnmark,NaN,Norway,NOKIA is a Finnish multinational communication...,http://nokia.com,http://twitter.com/nokia,"Amber Networks, Bit-side, Cellity, Desti, Diam...","Nokia acquired Amber Networks in 2001, Nokia a...",http://api.crunchbase.com/v/2/organization/nok...
22,Oracle,www.crunchbase.com/organization/oracle,http://a2.images.crunchbase.com/image/upload/c...,Oracle is a computer technology corporation de...,"Software, Hardware, Enterprise Software",1977,1986,"Ed Oates, Larry Ellison, Bob Miner","122,458",2013.0,...,"500 Oracle Pkwy, Redwood City, California, Uni...",Redwood City,California,United States,"Oracle is shifting the complexity from IT, mov...",http://oracle.com,http://twitter.com/Oracle,"360Commerce, Acme Packet, Active Reasoning, Ad...","Oracle acquired 360Commerce in 2006, Oracle ac...",http://api.crunchbase.com/v/2/organization/ora...
23,Pinterest,www.crunchbase.com/organization/pinterest,http://a2.images.crunchbase.com/image/upload/c...,Pinterest is a social bookmarking site with a ...,"Curated Web, Social Bookmarking, Social Media",2009,Not yet,"Evan Sharp, Ben Silbermann, Paul Sciarra",333,2014.0,...,"808 Brannan St., San Francisco, California, Un...",San Francisco,California,United States,Pinterest is a visual discovery and planning t...,http://pinterest.com,http://twitter.com/Pinterest,"Hackermeter, Icebergs, Livestar, Punchfork, Vi...","Pinterest acquired Hackermeter in 2013, Pinter...",http://api.crunchbase.com/v/2/organization/pin...
24,Qualcomm,www.crunchbase.com/organization/qualcomm,http://a1.images.crunchbase.com/image/upload/c...,Qualcomm Incorporated is a semiconductor compa...,Semiconductors,1985,1991,"Irwin M. Jacobs, Andrew Viterbi","31,000",2014.0,...,"5775 Morehouse Drive, San Diego, California, U...",San Diego,California,United States,Qualcomm is an American global fabless semicon...,http://www.qualcomm.com,http://twitter.com/Qualcomm,"AMD Handheld Graphics, Berkäna Wireless, Bitbo...",Qualcomm acquired AMD Handheld Graphics in 200...,http://api.crunchbase.com/v/2/organization/qua...
25,Salesforce,www.crunchbase.com/organization/salesforce,http://a3.images.crunchbase.com/image/upload/c...,Salesforce is an enterprise cloud-computing co...,"Software, Hardware + Software, Enterprises, Cl...",1999,2004,"Parker Harris, Marc Benioff","12,000",2013.0,...,"The Landmark - One Market Street, San Francisc...",San Francisco,California,United States,Salesforce is an enterprise cloud computing co...,http://www.salesforce.com,http://twitter.com/salesforce,"Activa Live, ChoicePass, Clipboard, Desk, Dimd...","Salesforce acquired Activa Live in 2010, Sales...",http://api.crunchbase.com/v/2/organization/sal...
26,Samsung Electronics,www.crunchbase.com/organization/samsung-electr...,http://a3.images.crunchbase.com/image/upload/c...,"Samsung manufactures electronic components, in...","Electronics, Hardware + Software",1969,NaN,Byung-Chull Lee,"326,000",2014.0,...,"Maetandong 416 Suwon, Gyeonggi-do Samsung Medi...",Suwon,NaN,South Korea,"Samsung Electronics Co. Ltd., together with it...",http://www.samsung.com/us,http://twitter.com/samsungtweets,"Boxee, Grandis, Liquavista, mSpot, NeuroLogica...","Samsung Electronics acquired Boxee in 2013, Sa...",http://api.crunchbase.com/v/2/organization/sam...
27,SanDisk,www.crunchbase.com/organization/sandisk,http://a4.images.crunchbase.com/image/upload/c...,SanDisk is a multinational corporation that de...,Curated Web,1988,1995,"Eli Harari, Sanjay Mehrotra, Jack Yuan","5,459",2013.0,...,"601 McCarthy Boulevard, Milpitas, California, ...",Milpitas,California,United States,"Founded in 1988 by Dr. Eli Harari, an internat...",http://www.sandisk.com,http://twitter.com/SanDisk,"FlashSoft, Fusion-io, MusicGremlin, Pliant Tec...","SanDisk acquired FlashSoft in 2012, SanDisk ac...",http://api.crunchbase.com/v/2/organization/san...
28,SAP,www.crunchbase.com/organization/sap,http://a1.images.crunchbase.com/image/upload/c...,SAP is a technology company developing enterpr...,Enterprise Software,1972,1998,"Hasso Plattner, Klaus Tschira, Claus Wellenreu...","66,500",2104.0,...,"3475 Deer Creek Road, Buildings A, B, and C, W...",NaN,NaN,Germany,SAP is a software company developing enterpris...,http://www.sap.com,http://twitter.com/SAP,"Ariba, Clear Standards, Coghead, Fieldglass, h...","SAP acquired Ariba in 2012, SAP acquired Clear...",http://api.crunchbase.com/v/2/organization/sap...
29,Sony,www.crunchbase.com/organization/sony,http://a5.images.crunchbase.com/image/upload/c...,Sony is a multinational company manufacturing ...,Hardware + Software,1946,1978,"Masaru Ibuka, Akio Morita","140,900",2014.0,...,"16530 Via Esprillo, San Diego, California, Uni...",San Diego,California,United States,Sony is one of the leading manufacturers of el...,http://www.sony.com,http://twitter.com/Sony,"Convergent Media Systems, Gaikai, Gracenote, L...",Sony acquired Convergent Media Systems in 2010...,http://api.crunchbase.com/v/2/organization/son...
30,Symantec,www.crunchbase.com/organization/symantec,http://a3.images.crunchbase.com/image/upload/c...,"Symantec provides security, storage and system...",Security,1982,1989,Gary Hendrix,"20,402",2014.0,...,"350 Ellis St, Mountain View, CA 94043, USA",Mountain View,California,United States,Symantec Corporation Symantec is a global prov...,http://www.symantec.com,http://twitter.com/symantec,"@Stake, AppStream, Brightmail, Clearwell Syste...","Symantec acquired @Stake in 2004, Symantec acq...",http://api.crunchbase.com/v/2/organization/sym...
31,Teradata,www.crunchbase.com/organization/teradata,http://a2.images.crunchbase.com/image/upload/c...,"Teradata offers analytic data platforms, appli...","Big Data, Consulting",1979,2007,"David Hartke, Jerry Modes","10,200",2014.0,...,"2835 Miami Village Drive, Miamisburg, Ohio, Un...",Miamisburg,Ohio,United States,Teradata Corporation NYSE: TDC is the global l...,http://www.teradata.com,http://twitter.com/Teradata,"Aprimo, Aster Data Systems, eCircle, Hadapt, R...","Teradata acquired Aprimo in 2010, Teradata acq...",http://api.crunchbase.com/v/2/organization/ter...
32,Twitter,www.crunchbase.com/organization/twitter,http://a3.images.crunchbase.com/image/upload/c...,Twitter is a global real-time communications p...,"Messaging, Software, SMS, MicroBlogging, Socia...",2006,2013,"Noah Glass, Biz Stone, Jack Dorsey, Evan Williams","3,300",2014.0,...,"1355 Market St., San Francisco, California, Un...",San Francisco,California,United States,Twitter is an online social network and a micr...,http://twitter.com,http://twitter.com/twitter,"AdGrok, Atebits, BackType, Bagcheck, Bluefin L...","Twitter acquired AdGrok in 2011, Twitter acqui...",http://api.crunchbase.com/v/2/organization/twi...
33,Verizon Communications,www.crunchbase.com/organization/verizon,http://a3.images.crunchbase.com/image/upload/c...,Verizon is a broadband and telecommunications ...,Mobile,1983,1983,"Charles R. Lee, Ivan G. Seidenberg","176,800",2013.0,...,"140 West Street, New York City, New York, Unit...",New York City,New York,United States,Verizon Communications Inc. delivers broadband...,http://www.verizon.com,http://twitter.com/Verizon,"Alltel, CloudSwitch, EdgeCast Networks, Hughes...",Verizon Communications acquired Alltel in 2008...,http://api.crunchbase.com/v/2/organization/ver...

In [ ]:
data=data.drop(['CrunchBase Profile','Image','Homepage','Twitter','API'],axis=1)

In [ ]:
data

,Acquiring Company,Tagline,Market Categories,Year Founded,IPO,Founders,Number of Employees,Number of Employees (year of last update),Total Funding ($),Number of Acquisitions,Board Members,Address (HQ),City (HQ),State / Region (HQ),Country (HQ),Description,Acquired Companies,Acquisitions ID
0,Adobe,Adobe is an American multinational computer so...,"Photo Editing, Design, Creative, Software, Ima...",1982,1986,"John Warnock, Charles Geschke","11,144",2012.0,0,38,NaN,"San Jose, California, United States",San Jose,California,United States,Adobe Systems is an American multinational com...,"Accelio Corporation, Aldus Corp, Amicima, Ares...",Adobe Systems acquired Accelio Corporation in ...
1,Amazon,Amazon is an international e-commerce company ...,"Groceries, Consumer Goods, Crowdsourcing, E-Co...",1994,1997,Jeff Bezos,"132,600",2014.0,8000000,45,"Gervase Clifton-Bligh, Patricia Q. Stonesifer,...","1200 12th Ave, Seattle, WA 98144, USA",Seattle,Washington,United States,Amazon.com is an American international e-comm...,"AbeBooks, Accept.Com, Alexa, Amie Street, Audi...","Amazon acquired AbeBooks in 2008, Amazon acqui..."
2,AOL,AOL is a Brand company committed to innovating...,"News, Advertising Platforms, Content Creators,...",1985,2009,"Marc Seriff, Steve Case, Jim Kimsey","5,600",2012.0,1000000000,62,"David Bell, Susan Lyne, Jim Wiatt, Fred Reynol...","770 Broadway, New York City, New York, United ...",New York City,New York,United States,AOL is a global advertising-supported Web comp...,"5min Media, Adap.tv, ADTECH, Advertising.com, ...","AOL acquired 5min Media in 2010, AOL acquired ..."
3,Apple,Apple is a multinational corporation that desi...,"Computers, Consumer Electronics, Hardware + So...",1976,1980,"Steve Jobs, Ronald Wayne, Steve Wozniak","98,000",2014.0,0,51,"Robert A. Iger, Al Gore, Gareth C.C. Chang, Cl...","1 Infinite Loop, Cupertino, California, United...",Cupertino,California,United States,Apple is an American multinational corporation...,"AlgoTrim, Anobit Technologies, AuthenTec, Beat...","Apple acquired AlgoTrim in 2013, Apple acquire..."
4,AT&T,AT&T provides telecommunications services such...,Mobile,2000,1983,Alexander Graham Bell,"246,740",2013.0,0,12,"Nathen Harvey, Gilbert F. Amelio, Nigel Vaz, R...","208 S. Akard St, Dallas, Texas, United States",Dallas,Texas,United States,AT&T Inc. AT&T is a holding company. AT&T is a...,"Centennial Communications Corp, Dobson Communi...",AT&T acquired Centennial Communications Corp i...
5,BlackBerry,BlackBerry manufactures wireless communication...,"Hardware + Software, RIM, Wireless, Mobile",1984,1999,Mike Lazaridis,NaN,NaN,1000000000,24,"Bert Nordberg, Richard Lynch, Claudia Kotchka,...","295 Phillip Street, Waterloo, Ontario, Canada",Waterloo,Ontario,Canada,BlackBerry formerly Research in Motion is a Ca...,"Alt-N Technologies, Ascendent Systems, Cellman...",BlackBerry acquired Alt-N Technologies in 2009...
6,CA Technologies,IT Software Company,Software,1974,1981,"Russell M. Artzt, Charles Wang","12,600",2014.0,0,16,NaN,"One CA Plaza, Islandia, New York, United States",Islandia,New York,United States,"CA, Inc., together with its subsidiaries, enga...","3Tera, Arcot Systems, Base Technologies, Cassa...","CA Technologies acquired 3Tera in 2010, CA Tec..."
7,Cisco Systems,Cisco Systems is an American multinational cor...,"Networking, Web Hosting, Software, Hardware",1984,1990,"Leonard Bosack, Sandy Lerner","74,042",2014.0,2500000,162,"Greg Brown, Carol Bartz, Jim Gibbons, Gilles d...","170 West Tasman Dr., San Jose, California, Uni...",San Jose,California,United States,"Cisco designs and sells hardware, software, ne...","Active Voice Corporation, Actona Technologies,...",Cisco acquired Active Voice Corporation in 200...
8,Comcast,"Comcast provides cable, entertainment and comm...",Web Hosting,1963,1990,"Daniel Aaron, Edward Rex, Ralph J. Roberts, Ju...","136,000",2012.0,725000000,13,"Michele Burns, S. Decker Anstrom, Judith Rodin...","1701 JFK Blvd, Philadelphia, Pennsylvania, Uni...",Philadelphia,Pennsylvania,United States,Comcast Corporation is the largest mass media ...,"Adelphia Communications, DailyCandy, Fandango,...",Comcast acquired Adelphia Communications in 20...
9,Dell,Dell is a multinational technology company tha...,Hardware + Software,1984,1988,Michael Dell,"108,800",2013.0,0,26,"Judy C. Lewent, Ross Perot Jr., Shantanu Naray...","1 Dell Way, Round Rock, Texas, United States",Round Rock,Texas,United States,Dell is an end-to-end solutions provider that ...,"Acs (UK), Alienware, AppAssure Software, ASAP ...","Dell acquired Acs (UK) in 2006, Dell acquired ..."
10,Dropbox,Dropbox operates a free file hosting service t...,"Web Hosting, Storage",2007,Not yet,"Arash Ferdowsi, Drew Houston",642,2014.0,1107215000,18,"Heidi S. Messer, Sanford R. Robertson, Hadi Pa...","185 Berry St, San Francisco, CA 94107, USA",San Francisco,California,United States,Dropbox was founded in 2007 by Drew Houston an...,"Audiogalaxy, Bubbli, Cove, Droptalk, Endorse, ...","Dropbox acquired Audiogalaxy in 2012, Dropbox ..."
11,eBay,eBay is an online auction and eCommerce market...,"Business Services, All Markets, Search, Auctio...",1995,1998,Pierre Omidyar,"33,500",2013.0,6700000,48,"Scott Cook, Marc Andreessen, Priya Haji, Howar...","2145 Hamilton Avenue, San Jose, CA 95125, USA",San Jose,California,United States,"Founded in 1995 in San Jose, CA, eBay connects...","2dehands.be, 2ememain.be, alando.de, Baazee, B...","eBay acquired 2dehands.be in 2013, eBay acquir..."
12,EMC,EMC manufactures information management and st...,Enterprise Software,1979,1986,"Richard Egan, Roger Marino","63,900",2013.0,0,60,"Nitin Suri, Michael Capellas, David Strohm, Ro...","176 South Street, Hopkinton, Massachusetts, Un...",Hopkinton,Massachusetts,United States,EMC is a global leader in enabling businesses ...,"Acartus, Adaptivity, Allocity, Archer Technolo...","EMC acquired Acartus in 2005, EMC acquired Ada..."
13,Facebook,Facebook is an online social networking servic...,"Networking, Communities, Colleges, Identity, A...",2004,2012,"Eduardo Saverin, Andrew McCollum, Chris Hughes...","7,185",2014.0,2385000000,49,"Marc Andreessen, Peter Thiel, Jim Breyer, Hadi...","1601 Willow Road, Menlo Park, CA 94025, USA",Menlo Park,California,United States,Facebook is the world’s largest social network...,"Atlas Advertiser Suite, Beluga, Bolt | Peters,...",Facebook acquired Atlas Advertiser Suite in 20...
14,Google,Google is a search and advertising service pro...,"Software, Video Streaming, Email, Search, Info...",1998,2004,"Larry Page, Sergey Brin","52,069",2014.0,25100000,161,"Jeffrey Ullman, Michael Moritz, Misty Locke, D...","1600 Amphitheatre Pkwy, Mountain View, CA 9404...",Mountain View,California,United States,Google provides search and advertising service...,"@Last Software, 2Web Technologies, Aardvark, A...","Google acquired @Last Software in 2006, Google..."
15,HP,Hewlett-Packard is a multinational IT corporat...,"Curated Web, Information Technology",1939,1978,"David Packard, William Redington Hewlett","317,500",2013.0,0,88,"G. Kennedy Thompson, Stephen N. David, Tom Per...","1501 Page Mill Rd, Palo Alto, California, Unit...",Palo Alto,California,United States,Hewlett-Packard technology corporation headqua...,"3Com, 3PAR, ABB CADE, Apollo Computer, AppIQ, ...","HP acquired 3Com in 2009, HP acquired 3PAR in ..."
16,IBM,IBM is an IT technology and consulting firm pr...,Software,1896,1978,Thomas J. Watson,"431,212",2013.0,0,121,"Scott Gorton, Ravi Srivatsav, Rich Warwick, Jo...","New Orchard Road, Armonk, New York, United States",Armonk,New York,United States,"IBM, acronym for International Business Machin...","Access360, Algorithmics, AlphaBlox Corporation...","IBM acquired Access360 in 2002, IBM acquired A..."
17,Intel,Intel manufactures microprocessors for persona...,Hardware + Software,1968,1978,"Gordon Moore, Robert Noyce","107,600",2103.0,0,57,"Rick Bortles, John L. Thornton, James D. Plumm...","2200 Mission College Blvd, Santa Clara, Califo...",Santa Clara,California,United States,Intel Corporation is a California-based multin...,"Aepona, Ambient Technologies, Avago Technologi...","Intel acquired Aepona in 2013, Intel acquired ..."
18,Juniper Networks,"Juniper Networks designs, develops and sells p...","Communications Hardware, Security, Technology",1996,1999,Pradeep Sindhu,"9,483",2013.0,120607339,10,"Dick Kramlich, Frank Marshall, Mercedes Johnso...","1194 North Mathilda Avenue, Sunnyvale, Califor...",Sunnyvale,California,United States,"Juniper Networks, Inc. Juniper Networks design...","Altor Networks, Ankeena Networks, Blackwave, C...",Juniper Networks acquired Altor Networks in 20...
19,LinkedIn,LinkedIn is a professional networking site tha...,"Social Recruiting, Networking, Software, Socia...",2003,2011,"Eric Ly, Reid Hoffman, Konstantin Guericke, Al...","5,400",2014.0,206121421,12,"Jeffrey Glass, Sherry Coutu, Mark Kvamme, Stan...","2029 Stierlin Ct, Mountain View, California, U...",Mountain View,California,United States,LinkedIn is the world's largest professional n...,"Bizo, Bright.com, CardMunch, ChoiceVendor, Con...","LinkedIn acquired Bizo in 2014, LinkedIn acqui..."
20,Microsoft,"Microsoft, a software corporation, develops li...","Video Games, Software",1974,1986,"Bill Gates, Paul Allen","128,076",2014.0,0,136,"John W. Thompson, David Ing, Helmut Panke, Cha...","1 Microsoft Way, Redmond, WA, USA",Redmond,Washington,United States,Microsoft is an American multinational corpora...,"90 Degree Software, ActiveViews, AdECN, Alacri...","Microsoft acquired 90 Degree Software in 2008,..."
21,Nokia,Nokia is a Finnish IT and communications compa...,Mobile,1865,1994,"Fredrik Idestam, Leo Mechelin","90,981",2013.0,0,38,"Inmaculada Martinez, Isabel Marey-Semper, Per ...","Keilalahdentie 2-4, Finnmark, Norway, Norway",Finnmark,NaN,Norway,NOKIA is a Finnish multinational communication...,"Amber Networks, Bit-side, Cellity, Desti, Diam...","Nokia acquired Amber Networks in 2001, Nokia a..."
22,Oracle,Oracle is a computer technology corporation de...,"Software, Hardware, Enterprise Software",1977,1986,"Ed Oates, Larry Ellison, Bob Miner","122,458",2013.0,0,88,"Etienne Castiaux, Norm Fjeldheim, Naomi O. Sel...","500 Oracle Pkwy, Redwood City, California, Uni...",Redwood City,California,United States,"Oracle is shifting the complexity from IT, mov...","360Commerce, Acme Packet, Active Reasoning, Ad...","Oracle acquired 360Commerce in 2006, Oracle ac..."
23,Pinterest,Pinterest is a social bookmarking site with a ...,"Curated Web, Social Bookmarking, Social Media",2009,Not yet,"Evan Sharp, Ben Silbermann, Paul Sciarra",333,2014.0,762500000,5,"Scott Belsky, Paul Sciarra, Ben Silbermann","808 Brannan St., San Francisco, California, Un...",San Francisco,California,United States,Pinterest is a visual discovery and planning t...,"Hackermeter, Icebergs, Livestar, Punchfork, Vi...","Pinterest acquired Hackermeter in 2013, Pinter..."
24,Qualcomm,Qualcomm Incorporated is a semiconductor compa...,Semiconductors,1985,1991,"Irwin M. Jacobs, Andrew Viterbi","31,000",2014.0,0,22,"Michael Howse, Will Headapohl, Susan Hockfield","5775 Morehouse Drive, San Diego, California, U...",San Diego,California,United States,Qualcomm is an American global fabless semicon...,"AMD Handheld Graphics, Berkäna Wireless, Bitbo...",Qualcomm acquired AMD Handheld Graphics in 200...
25,Salesforce,Salesforce is an enterprise cloud-computing co...,"Software, Hardware + Software, Enterprises, Cl...",1999,2004,"Parker Harris, Marc Benioff","12,000",2013.0,21000000,29,"Craig Ramsey, Scott Sandell, Allen Miner, Mayn...","The Landmark - One Market Street, San Francisc...",San Francisco,California,United States,Salesforce is an enterprise cloud computing co...,"Activa Live, ChoicePass, Clipboard, Desk, Dimd...","Salesforce acquired Activa Live in 2010, Sales..."
26,Samsung Electronics,"Samsung manufactures electronic components, in...","Electronics, Hardware + Software",1969,NaN,Byung-Chull Lee,"326,000",2014.0,0,10,Byung-Chull Lee,"Maetandong 416 Suwon, Gyeonggi-do Samsung Medi...",Suwon,NaN,South Korea,"Samsung Electronics Co. Ltd., together with it...","Boxee, Grandis, Liquavista, mSpot, NeuroLogica...","Samsung Electronics acquired Boxee in 2013, Sa..."
27,SanDisk,SanDisk is a multinational corporation that de...,Curated Web,1988,1995,"Eli Harari, Sanjay Mehrotra, Jack Yuan","5,459",2013.0,0,6,"Eddy Hartenstein, Steve Gomo, Kevin DeNuccio, ...","601 McCarthy Boulevard, Milpitas, California, ...",Milpitas,California,United States,"Founded in 1988 by Dr. Eli Harari, an internat...","FlashSoft, Fusion-io, MusicGremlin, Pliant Tec...","SanDisk acquired FlashSoft in 2012, SanDisk ac..."
28,SAP,SAP is a technology company developing enterpr...,Enterprise Software,1972,1998,"Hasso Plattner, Klaus Tschira, Claus Wellenreu...","66,500",2104.0,0,13,"Raj Parekh, Roger Jiang, James Sullivan","3475 Deer Creek Road, Buildings A, B, and C, W...",NaN,NaN,Germany,SAP is a software company developing enterpris...,"Ariba, Clear Standards, Coghead, Fieldglass, h...","SAP acquired Ariba in 2012, SAP acquired Clear..."
29,Sony,Sony is a multinational company manufacturing ...,Hardware + Software,1946,1978,"Masaru Ibuka, Akio Morita","140,900",2014.0,0,4,"Dr. Makimoto, Joi Ito","16530 Via Esprillo, San Diego, California, Uni...",San Diego,California,United States,Sony is one of the leading manufacturers of el...,"Convergent Media Systems, Gaikai, Gracenote, L...",Sony acquired Convergent Media Systems in 2010...
30,Symantec,"Symantec provides security, storage and system...",Security,1982,1989,Gary Hendrix,"20,402",2014.0,0,17,"Tom Perkins, Gerry Laybourne, David Mahoney, R...","350 Ellis St, Mountain View, CA 94043, USA",Mountain View,California,United States,Symantec Corporation Symantec is a global prov...,"@Stake, AppStream, Brightmail, Clearwell Syste...","Symantec acquired @Stake in 2004, Symantec acq..."
31,Teradata,"Teradata offers analytic data platforms, appli...","Big Data, Consulting",1979,2007,"David Hartke, Jerry Modes","10,200",2014.0,0,7,"Nanea Reeves, David E. Kepler","2835 Miami Village Drive, Miamisburg, Ohio, Un...",Miamisburg,Ohio,United States,Teradata Corporation NYSE: TDC is the global l...,"Aprimo, Aster Data Systems, eCircle, Hadapt, R...","Teradata acquired Aprimo in 2010, Teradata acq..."
32,Twitter,Twitter is a global real-time communications p...,"Messaging, Software, SMS, MicroBlogging, Socia...",2006,2013,"Noah Glass, Biz Stone, Jack Dorsey, Evan Williams","3,300",2014.0,1160166511,38,"Shiva Shivakumar, Bijan Sabet, Sam Pullara, Ra...","1355 Market St., San Francisco, California, Un...",San Francisco,California,United States,Twitter is an online social network and a micr...,"AdGrok, Atebits, BackType, Bagcheck, Bluefin L...","Twitter acquired AdGrok in 2011, Twitter acqui..."
33,Verizon Communications,Verizon is a broadband and telecommunications ...,Mobile,1983,1983,"Charles R. Lee, Ivan G. Seidenberg","176,800",2013.0,30079503000,7,"Donald T. Nicolaisen, Richard L. Carrion, Shel...","140 West Street, New York City, New York, Unit...",New York City,New York,United States,Verizon Communications Inc. delivers broadband...,"Alltel, CloudSwitch, EdgeCast Networks, Hughes...",Verizon Communications acquired Alltel in 2008...
34,Vodafone,Vodafone is a British mobile telecommunication...,"Telecommunications, Mobile",1983,1988,"Ernest Harrison, Gerry Whent","91,272",2013.0,0,9,"Greg Tarr, Nigel Vaz, Peter Bamford, Michel Co...","Berkshire, West Berkshire RG14 2FN, United Kin...",NaN,West Berkshire,United Kingdom,Vodafone Group is a mobile telecommunications ...,"Cable&Wireless Worldwide, Complete Network Tec...",Vodafone acquired Cable&Wireless Worldwide in ...
35,Yahoo,Yahoo! is a multinational internet corporation...,"Portals, Curated Web, Photography, Email, Search",1994,1996,"David Filo, Jerry Yang","12,200",2013.0,6800000,112,"Michael Moritz, Peter Liguori, Misty Locke, Ma...","701 First Avenue, Sunnyvale, California, Unite...",Sunnyvale,California,United States,Yahoo was founded in 1994 by Stanford Ph.D. st...,"3721 Internet Assistant, 5to1, AdInterax, Admo...",Yahoo! acquired 3721 Internet Assistant in 200...

In [ ]:
data.dtypes

Acquiring Company                             object
Tagline                                       object
Market Categories                             object
Year Founded                                   int64
IPO                                           object
Founders                                      object
Number of Employees                           object
Number of Employees (year of last update)    float64
Total Funding ($)                              int64
Number of Acquisitions                         int64
Board Members                                 object
Address (HQ)                                  object
City (HQ)                                     object
State / Region (HQ)                           object
Country (HQ)                                  object
Description                                   object
Acquired Companies                            object
Acquisitions ID                               object
dtype: object

In [ ]:
data['Number of Employees'] = data['Number of Employees'].replace({',': ''}, regex=True)
data['Number of Employees'] = data['Number of Employees'].fillna(0).astype(int)

In [ ]:
for col in data.columns:
    if data[col].dtype == 'object':
        try:
            data[col] = data[col].astype(int)
        except:
            pass  # ignore if it fails, i.e., for non-numeric text

In [ ]:
data.dtypes

Acquiring Company                             object
Tagline                                       object
Market Categories                             object
Year Founded                                   int64
IPO                                           object
Founders                                      object
Number of Employees                            int64
Number of Employees (year of last update)    float64
Total Funding ($)                              int64
Number of Acquisitions                         int64
Board Members                                 object
Address (HQ)                                  object
City (HQ)                                     object
State / Region (HQ)                           object
Country (HQ)                                  object
Description                                   object
Acquired Companies                            object
Acquisitions ID                               object
dtype: object

In [ ]:
# Replace "Not yet" with NaN first
data['IPO'] = data['IPO'].replace("Not yet", np.nan)

# Create a new binary feature
data['Is_Public'] = data['IPO'].notna().astype(int)

In [ ]:
data.drop_duplicates(inplace=True)

In [ ]:
data.count()

Acquiring Company                            36
Tagline                                      36
Market Categories                            36
Year Founded                                 36
IPO                                          33
Founders                                     36
Number of Employees                          36
Number of Employees (year of last update)    35
Total Funding ($)                            36
Number of Acquisitions                       36
Board Members                                34
Address (HQ)                                 36
City (HQ)                                    34
State / Region (HQ)                          33
Country (HQ)                                 36
Description                                  36
Acquired Companies                           36
Acquisitions ID                              36
Is_Public                                    36
dtype: int64

In [ ]:
from sklearn.preprocessing import MultiLabelBinarizer

# Step 1: Split the comma-separated values into lists
data['Market Categories'] = data['Market Categories'].fillna('')  # Handle NaN
data['Market Categories List'] = data['Market Categories'].apply(lambda x: [i.strip() for i in x.split(',') if i.strip()])

# Step 2: Use MultiLabelBinarizer to create one-hot columns
mlb = MultiLabelBinarizer()
category_dummies = pd.DataFrame(mlb.fit_transform(data['Market Categories List']),
                                columns=mlb.classes_,
                                index=data.index)

# Step 3: Concatenate the result with the original dataframe (or drop the original column if you want)
data = pd.concat([data, category_dummies], axis=1)

# Optional: Drop the old columns if not needed
data.drop(columns=['Market Categories', 'Market Categories List'], inplace=True)

In [ ]:
data.columns

Index(['Acquiring Company', 'Tagline', 'Year Founded', 'IPO', 'Founders',
       'Number of Employees', 'Number of Employees (year of last update)',
       'Total Funding ($)', 'Number of Acquisitions', 'Board Members',
       'Address (HQ)', 'City (HQ)', 'State / Region (HQ)', 'Country (HQ)',
       'Description', 'Acquired Companies', 'Acquisitions ID', 'Is_Public',
       'Advertising Platforms', 'All Markets', 'All Students', 'Auctions',
       'Big Data', 'Blogging Platforms', 'Business Services',
       'Cloud Computing', 'Colleges', 'Communications Hardware', 'Communities',
       'Computers', 'Consulting', 'Consumer Electronics', 'Consumer Goods',
       'Content Creators', 'Creative', 'Crowdsourcing', 'Curated Web',
       'Design', 'Digital Media', 'E-Commerce', 'Electronics', 'Email',
       'Enterprise Software', 'Enterprises', 'Facebook Applications',
       'Groceries', 'Hardware', 'Hardware + Software', 'Identity',
       'Image Recognition', 'Information Technology', 'Messaging',
       'MicroBlogging', 'Mobile', 'Networking', 'News', 'Photo Editing',
       'Photography', 'Portals', 'RIM', 'SMS', 'Search', 'Security',
       'Semiconductors', 'Social Bookmarking', 'Social Media',
       'Social Recruiting', 'Software', 'Storage', 'Technology',
       'Telecommunications', 'Video Games', 'Video Streaming', 'Web Hosting',
       'Wireless'],
      dtype='object')

In [ ]:
numerical_data = data.select_dtypes(include=[np.number])

# Select object (categorical) columns
categorical_data = data.select_dtypes(include=['object'])

# Display the first few rows of each
print("Numerical Data:")
print(numerical_data.head())

print("\nCategorical Data:")
print(categorical_data.head())

Numerical Data:
   Year Founded  Number of Employees  \
0          1982                11144
1          1994               132600
2          1985                 5600
3          1976                98000
4          2000               246740

   Number of Employees (year of last update)  Total Funding ($)  \
0                                     2012.0                  0
1                                     2014.0            8000000
2                                     2012.0         1000000000
3                                     2014.0                  0
4                                     2013.0                  0

   Number of Acquisitions  Is_Public  Advertising Platforms  All Markets  \
0                      38          1                      0            0
1                      45          1                      0            0
2                      62          1                      1            0
3                      51          1                      0            0
4                      12          1                      0            0

   All Students  Auctions  ...  Social Media  Social Recruiting  Software  \
0             0         0  ...             0                  0         1
1             0         0  ...             0                  0         0
2             0         0  ...             0                  0         0
3             0         0  ...             0                  0         0
4             0         0  ...             0                  0         0

   Storage  Technology  Telecommunications  Video Games  Video Streaming  \
0        0           0                   0            0                0
1        0           0                   0            0                0
2        0           0                   0            0                0
3        0           0                   0            0                0
4        0           0                   0            0                0

   Web Hosting  Wireless
0            0         0
1            0         0
2            0         0
3            0         0
4            0         0

[5 rows x 63 columns]

Categorical Data:
  Acquiring Company                                            Tagline   IPO  \
0             Adobe  Adobe is an American multinational computer so...  1986
1            Amazon  Amazon is an international e-commerce company ...  1997
2               AOL  AOL is a Brand company committed to innovating...  2009
3             Apple  Apple is a multinational corporation that desi...  1980
4              AT&T  AT&T provides telecommunications services such...  1983

                                  Founders  \
0            John Warnock, Charles Geschke
1                               Jeff Bezos
2      Marc Seriff, Steve Case, Jim Kimsey
3  Steve Jobs, Ronald Wayne, Steve Wozniak
4                    Alexander Graham Bell

                                       Board Members  \
0                                                NaN
1  Gervase Clifton-Bligh, Patricia Q. Stonesifer,...
2  David Bell, Susan Lyne, Jim Wiatt, Fred Reynol...
3  Robert A. Iger, Al Gore, Gareth C.C. Chang, Cl...
4  Nathen Harvey, Gilbert F. Amelio, Nigel Vaz, R...

                                        Address (HQ)      City (HQ)  \
0                San Jose, California, United States       San Jose
1              1200 12th Ave, Seattle, WA 98144, USA        Seattle
2  770 Broadway, New York City, New York, United ...  New York City
3  1 Infinite Loop, Cupertino, California, United...      Cupertino
4      208 S. Akard St, Dallas, Texas, United States         Dallas

  State / Region (HQ)   Country (HQ)  \
0          California  United States
1          Washington  United States
2            New York  United States
3          California  United States
4               Texas  United States

                                         Description  \
0  Adobe Systems is an American multinational com...
1  Amazon.com is an American international e-comm...
2  AOL is a global advertising-supported Web comp...
3  Apple is an American multinational corporation...
4  AT&T Inc. AT&T is a holding company. AT&T is a...

                                  Acquired Companies  \
0  Accelio Corporation, Aldus Corp, Amicima, Ares...
1  AbeBooks, Accept.Com, Alexa, Amie Street, Audi...
2  5min Media, Adap.tv, ADTECH, Advertising.com, ...
3  AlgoTrim, Anobit Technologies, AuthenTec, Beat...
4  Centennial Communications Corp, Dobson Communi...

                                     Acquisitions ID
0  Adobe Systems acquired Accelio Corporation in ...
1  Amazon acquired AbeBooks in 2008, Amazon acqui...
2  AOL acquired 5min Media in 2010, AOL acquired ...
3  Apple acquired AlgoTrim in 2013, Apple acquire...
4  AT&T acquired Centennial Communications Corp i...

In [ ]:
correlation_matrix = numerical_data.corr()

# Set a threshold for correlation (e.g., 0.85)
threshold = 0.85

# Create a set to store features to drop
to_drop = set()

# Loop through the upper triangle of the correlation matrix
for i in range(len(correlation_matrix.columns)):
    for j in range(i):
        if abs(correlation_matrix.iloc[i, j]) > threshold:  # Check if correlation is above threshold
            colname = correlation_matrix.columns[i]
            to_drop.add(colname)  # Mark column for removal

# Drop the columns from the dataset
data = data.drop(columns=to_drop)

In [ ]:
to_drop

{'Auctions',
 'Business Services',
 'Colleges',
 'Communities',
 'Consulting',
 'Consumer Electronics',
 'Content Creators',
 'Crowdsourcing',
 'Design',
 'Digital Media',
 'Enterprises',
 'Facebook Applications',
 'Groceries',
 'Identity',
 'Image Recognition',
 'MicroBlogging',
 'News',
 'Photo Editing',
 'Portals',
 'SMS',
 'Technology',
 'Video Streaming',
 'Wireless'}

In [ ]:
null_indexes = data[data['State / Region (HQ)'].isnull()].index
print(null_indexes)

Index([21, 26, 28], dtype='int64')

In [ ]:
data['State / Region (HQ)'][21]='Finnmark'

<ipython-input-21-22dd66a4950b>:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data['State / Region (HQ)'][21]='Finnmark'
<ipython-input-21-22dd66a4950b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['State / Region (HQ)'][21]='Finnmark'

In [ ]:
data['State / Region (HQ)'][26]='Gyeonggi-do'

<ipython-input-22-e61b2c02bae0>:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data['State / Region (HQ)'][26]='Gyeonggi-do'
<ipython-input-22-e61b2c02bae0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['State / Region (HQ)'][26]='Gyeonggi-do'

In [ ]:
data['State / Region (HQ)'][28]='Baden-Württemberg'

<ipython-input-23-480d295fc0ca>:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data['State / Region (HQ)'][28]='Baden-Württemberg'
<ipython-input-23-480d295fc0ca>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['State / Region (HQ)'][28]='Baden-Württemberg'

In [ ]:
null_indexes = data[data['City (HQ)'].isnull()].index
print(null_indexes)

Index([28, 34], dtype='int64')

In [ ]:
data['City (HQ)'][28]='Walldorf'

<ipython-input-25-cac882cdd4db>:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data['City (HQ)'][28]='Walldorf'
<ipython-input-25-cac882cdd4db>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['City (HQ)'][28]='Walldorf'

In [ ]:
data['City (HQ)'][34]='West Berkshire'

<ipython-input-26-edf1f8a2b329>:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data['City (HQ)'][34]='West Berkshire'
<ipython-input-26-edf1f8a2b329>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['City (HQ)'][34]='West Berkshire'

In [ ]:
data.columns

Index(['Acquiring Company', 'Tagline', 'Year Founded', 'IPO', 'Founders',
       'Number of Employees', 'Number of Employees (year of last update)',
       'Total Funding ($)', 'Number of Acquisitions', 'Board Members',
       'Address (HQ)', 'City (HQ)', 'State / Region (HQ)', 'Country (HQ)',
       'Description', 'Acquired Companies', 'Acquisitions ID', 'Is_Public',
       'Advertising Platforms', 'All Markets', 'All Students', 'Big Data',
       'Blogging Platforms', 'Cloud Computing', 'Communications Hardware',
       'Computers', 'Consumer Goods', 'Creative', 'Curated Web', 'E-Commerce',
       'Electronics', 'Email', 'Enterprise Software', 'Hardware',
       'Hardware + Software', 'Information Technology', 'Messaging', 'Mobile',
       'Networking', 'Photography', 'RIM', 'Search', 'Security',
       'Semiconductors', 'Social Bookmarking', 'Social Media',
       'Social Recruiting', 'Software', 'Storage', 'Telecommunications',
       'Video Games', 'Web Hosting'],
      dtype='object')

In [ ]:
category_columns = ['Advertising Platforms', 'All Markets', 'All Students', 'Big Data',
       'Blogging Platforms', 'Cloud Computing', 'Communications Hardware',
       'Computers', 'Consumer Goods', 'Creative', 'Curated Web', 'E-Commerce',
       'Electronics', 'Email', 'Enterprise Software', 'Hardware',
       'Hardware + Software', 'Information Technology', 'Messaging', 'Mobile',
       'Networking', 'Photography', 'RIM', 'Search', 'Security',
       'Semiconductors', 'Social Bookmarking', 'Social Media',
       'Social Recruiting', 'Software', 'Storage', 'Telecommunications',
       'Video Games', 'Web Hosting']
# Step 2: Find top 15 most frequent (most used) category columns
top_15 = data[category_columns].sum().sort_values(ascending=False).head(20).index.tolist()

# Step 3: Keep top 15 and compute 'Other' column
df_top = data[top_15].copy()

# Create 'Other' column from all the rest
other_columns = list(set(category_columns) - set(top_15))
df_top['Other'] = data[other_columns].sum(axis=1).apply(lambda x: 1 if x > 0 else 0)

# Step 4: Drop the original one-hot category columns
data.drop(columns=category_columns, inplace=True)

# Step 5: Add the reduced one-hot set back
data = pd.concat([data, df_top], axis=1)

In [ ]:
data

,Acquiring Company,Tagline,Year Founded,IPO,Founders,Number of Employees,Number of Employees (year of last update),Total Funding ($),Number of Acquisitions,Board Members,...,Information Technology,Email,E-Commerce,All Markets,Advertising Platforms,Creative,All Students,Electronics,Big Data,Other
0,Adobe,Adobe is an American multinational computer so...,1982,1986,"John Warnock, Charles Geschke",11144,2012.0,0,38,NaN,...,0,0,0,0,0,1,0,0,0,0
1,Amazon,Amazon is an international e-commerce company ...,1994,1997,Jeff Bezos,132600,2014.0,8000000,45,"Gervase Clifton-Bligh, Patricia Q. Stonesifer,...",...,0,0,1,0,0,0,0,0,0,1
2,AOL,AOL is a Brand company committed to innovating...,1985,2009,"Marc Seriff, Steve Case, Jim Kimsey",5600,2012.0,1000000000,62,"David Bell, Susan Lyne, Jim Wiatt, Fred Reynol...",...,0,0,0,0,1,0,0,0,0,0
3,Apple,Apple is a multinational corporation that desi...,1976,1980,"Steve Jobs, Ronald Wayne, Steve Wozniak",98000,2014.0,0,51,"Robert A. Iger, Al Gore, Gareth C.C. Chang, Cl...",...,0,0,0,0,0,0,0,0,0,1
4,AT&T,AT&T provides telecommunications services such...,2000,1983,Alexander Graham Bell,246740,2013.0,0,12,"Nathen Harvey, Gilbert F. Amelio, Nigel Vaz, R...",...,0,0,0,0,0,0,0,0,0,0
5,BlackBerry,BlackBerry manufactures wireless communication...,1984,1999,Mike Lazaridis,0,NaN,1000000000,24,"Bert Nordberg, Richard Lynch, Claudia Kotchka,...",...,0,0,0,0,0,0,0,0,0,1
6,CA Technologies,IT Software Company,1974,1981,"Russell M. Artzt, Charles Wang",12600,2014.0,0,16,NaN,...,0,0,0,0,0,0,0,0,0,0
7,Cisco Systems,Cisco Systems is an American multinational cor...,1984,1990,"Leonard Bosack, Sandy Lerner",74042,2014.0,2500000,162,"Greg Brown, Carol Bartz, Jim Gibbons, Gilles d...",...,0,0,0,0,0,0,0,0,0,0
8,Comcast,"Comcast provides cable, entertainment and comm...",1963,1990,"Daniel Aaron, Edward Rex, Ralph J. Roberts, Ju...",136000,2012.0,725000000,13,"Michele Burns, S. Decker Anstrom, Judith Rodin...",...,0,0,0,0,0,0,0,0,0,0
9,Dell,Dell is a multinational technology company tha...,1984,1988,Michael Dell,108800,2013.0,0,26,"Judy C. Lewent, Ross Perot Jr., Shantanu Naray...",...,0,0,0,0,0,0,0,0,0,0
10,Dropbox,Dropbox operates a free file hosting service t...,2007,NaN,"Arash Ferdowsi, Drew Houston",642,2014.0,1107215000,18,"Heidi S. Messer, Sanford R. Robertson, Hadi Pa...",...,0,0,0,0,0,0,0,0,0,1
11,eBay,eBay is an online auction and eCommerce market...,1995,1998,Pierre Omidyar,33500,2013.0,6700000,48,"Scott Cook, Marc Andreessen, Priya Haji, Howar...",...,0,0,1,1,0,0,0,0,0,0
12,EMC,EMC manufactures information management and st...,1979,1986,"Richard Egan, Roger Marino",63900,2013.0,0,60,"Nitin Suri, Michael Capellas, David Strohm, Ro...",...,0,0,0,0,0,0,0,0,0,0
13,Facebook,Facebook is an online social networking servic...,2004,2012,"Eduardo Saverin, Andrew McCollum, Chris Hughes...",7185,2014.0,2385000000,49,"Marc Andreessen, Peter Thiel, Jim Breyer, Hadi...",...,0,0,0,0,0,0,1,0,0,0
14,Google,Google is a search and advertising service pro...,1998,2004,"Larry Page, Sergey Brin",52069,2014.0,25100000,161,"Jeffrey Ullman, Michael Moritz, Misty Locke, D...",...,1,1,0,0,0,0,0,0,0,1
15,HP,Hewlett-Packard is a multinational IT corporat...,1939,1978,"David Packard, William Redington Hewlett",317500,2013.0,0,88,"G. Kennedy Thompson, Stephen N. David, Tom Per...",...,1,0,0,0,0,0,0,0,0,0
16,IBM,IBM is an IT technology and consulting firm pr...,1896,1978,Thomas J. Watson,431212,2013.0,0,121,"Scott Gorton, Ravi Srivatsav, Rich Warwick, Jo...",...,0,0,0,0,0,0,0,0,0,0
17,Intel,Intel manufactures microprocessors for persona...,1968,1978,"Gordon Moore, Robert Noyce",107600,2103.0,0,57,"Rick Bortles, John L. Thornton, James D. Plumm...",...,0,0,0,0,0,0,0,0,0,0
18,Juniper Networks,"Juniper Networks designs, develops and sells p...",1996,1999,Pradeep Sindhu,9483,2013.0,120607339,10,"Dick Kramlich, Frank Marshall, Mercedes Johnso...",...,0,0,0,0,0,0,0,0,0,1
19,LinkedIn,LinkedIn is a professional networking site tha...,2003,2011,"Eric Ly, Reid Hoffman, Konstantin Guericke, Al...",5400,2014.0,206121421,12,"Jeffrey Glass, Sherry Coutu, Mark Kvamme, Stan...",...,0,0,0,0,0,0,0,0,0,1
20,Microsoft,"Microsoft, a software corporation, develops li...",1974,1986,"Bill Gates, Paul Allen",128076,2014.0,0,136,"John W. Thompson, David Ing, Helmut Panke, Cha...",...,0,0,0,0,0,0,0,0,0,1
21,Nokia,Nokia is a Finnish IT and communications compa...,1865,1994,"Fredrik Idestam, Leo Mechelin",90981,2013.0,0,38,"Inmaculada Martinez, Isabel Marey-Semper, Per ...",...,0,0,0,0,0,0,0,0,0,0
22,Oracle,Oracle is a computer technology corporation de...,1977,1986,"Ed Oates, Larry Ellison, Bob Miner",122458,2013.0,0,88,"Etienne Castiaux, Norm Fjeldheim, Naomi O. Sel...",...,0,0,0,0,0,0,0,0,0,0
23,Pinterest,Pinterest is a social bookmarking site with a ...,2009,NaN,"Evan Sharp, Ben Silbermann, Paul Sciarra",333,2014.0,762500000,5,"Scott Belsky, Paul Sciarra, Ben Silbermann",...,0,0,0,0,0,0,0,0,0,1
24,Qualcomm,Qualcomm Incorporated is a semiconductor compa...,1985,1991,"Irwin M. Jacobs, Andrew Viterbi",31000,2014.0,0,22,"Michael Howse, Will Headapohl, Susan Hockfield",...,0,0,0,0,0,0,0,0,0,1
25,Salesforce,Salesforce is an enterprise cloud-computing co...,1999,2004,"Parker Harris, Marc Benioff",12000,2013.0,21000000,29,"Craig Ramsey, Scott Sandell, Allen Miner, Mayn...",...,0,0,0,0,0,0,0,0,0,1
26,Samsung Electronics,"Samsung manufactures electronic components, in...",1969,NaN,Byung-Chull Lee,326000,2014.0,0,10,Byung-Chull Lee,...,0,0,0,0,0,0,0,1,0,0
27,SanDisk,SanDisk is a multinational corporation that de...,1988,1995,"Eli Harari, Sanjay Mehrotra, Jack Yuan",5459,2013.0,0,6,"Eddy Hartenstein, Steve Gomo, Kevin DeNuccio, ...",...,0,0,0,0,0,0,0,0,0,0
28,SAP,SAP is a technology company developing enterpr...,1972,1998,"Hasso Plattner, Klaus Tschira, Claus Wellenreu...",66500,2104.0,0,13,"Raj Parekh, Roger Jiang, James Sullivan",...,0,0,0,0,0,0,0,0,0,0
29,Sony,Sony is a multinational company manufacturing ...,1946,1978,"Masaru Ibuka, Akio Morita",140900,2014.0,0,4,"Dr. Makimoto, Joi Ito",...,0,0,0,0,0,0,0,0,0,0
30,Symantec,"Symantec provides security, storage and system...",1982,1989,Gary Hendrix,20402,2014.0,0,17,"Tom Perkins, Gerry Laybourne, David Mahoney, R...",...,0,0,0,0,0,0,0,0,0,0
31,Teradata,"Teradata offers analytic data platforms, appli...",1979,2007,"David Hartke, Jerry Modes",10200,2014.0,0,7,"Nanea Reeves, David E. Kepler",...,0,0,0,0,0,0,0,0,1,0
32,Twitter,Twitter is a global real-time communications p...,2006,2013,"Noah Glass, Biz Stone, Jack Dorsey, Evan Williams",3300,2014.0,1160166511,38,"Shiva Shivakumar, Bijan Sabet, Sam Pullara, Ra...",...,0,0,0,0,0,0,0,0,0,1
33,Verizon Communications,Verizon is a broadband and telecommunications ...,1983,1983,"Charles R. Lee, Ivan G. Seidenberg",176800,2013.0,30079503000,7,"Donald T. Nicolaisen, Richard L. Carrion, Shel...",...,0,0,0,0,0,0,0,0,0,0
34,Vodafone,Vodafone is a British mobile telecommunication...,1983,1988,"Ernest Harrison, Gerry Whent",91272,2013.0,0,9,"Greg Tarr, Nigel Vaz, Peter Bamford, Michel Co...",...,0,0,0,0,0,0,0,0,0,1
35,Yahoo,Yahoo! is a multinational internet corporation...,1994,1996,"David Filo, Jerry Yang",12200,2013.0,6800000,112,"Michael Moritz, Peter Liguori, Misty Locke, Ma...",...,0,1,0,0,0,0,0,0,0,1

In [ ]:
data['Year Founded'] = pd.to_numeric(data['Year Founded'], errors='coerce')

# Then, calculate age (assuming current year is 2025)
data['age'] = 2025 - data['Year Founded']
data.drop(columns=['Year Founded'], inplace=True)

In [ ]:
data['IPO'] = pd.to_numeric(data['IPO'], errors='coerce')

# Then, calculate age (assuming current year is 2025)
data['age IPO'] = 2025 - data['IPO']
data.drop(columns=['IPO'], inplace=True)

In [ ]:
data['age IPO'].replace(np.nan, -1, inplace=True)

<ipython-input-32-61b498c2c56c>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['age IPO'].replace(np.nan, -1, inplace=True)

In [ ]:
data.isna().sum()

Acquiring Company                            0
Tagline                                      0
Founders                                     0
Number of Employees                          0
Number of Employees (year of last update)    1
Total Funding ($)                            0
Number of Acquisitions                       0
Board Members                                2
Address (HQ)                                 0
City (HQ)                                    0
State / Region (HQ)                          0
Country (HQ)                                 0
Description                                  0
Acquired Companies                           0
Acquisitions ID                              0
Is_Public                                    0
Software                                     0
Hardware + Software                          0
Mobile                                       0
Curated Web                                  0
Social Media                                 0
Networking                                   0
Web Hosting                                  0
Search                                       0
Enterprise Software                          0
Security                                     0
Hardware                                     0
Information Technology                       0
Email                                        0
E-Commerce                                   0
All Markets                                  0
Advertising Platforms                        0
Creative                                     0
All Students                                 0
Electronics                                  0
Big Data                                     0
Other                                        0
age                                          0
age IPO                                      0
dtype: int64

In [ ]:
data.drop(columns=['Address (HQ)'], inplace=True)

In [ ]:

data['Number of Employees (year of last update)'].fillna(
    data['Number of Employees (year of last update)'].mode()[0], inplace=True
)

data.dtypes

<ipython-input-35-e3fa39e2b495>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Number of Employees (year of last update)'].fillna(

Acquiring Company                             object
Tagline                                       object
Founders                                      object
Number of Employees                            int64
Number of Employees (year of last update)    float64
Total Funding ($)                              int64
Number of Acquisitions                         int64
Board Members                                 object
City (HQ)                                     object
State / Region (HQ)                           object
Country (HQ)                                  object
Description                                   object
Acquired Companies                            object
Acquisitions ID                               object
Is_Public                                      int64
Software                                       int64
Hardware + Software                            int64
Mobile                                         int64
Curated Web                                    int64
Social Media                                   int64
Networking                                     int64
Web Hosting                                    int64
Search                                         int64
Enterprise Software                            int64
Security                                       int64
Hardware                                       int64
Information Technology                         int64
Email                                          int64
E-Commerce                                     int64
All Markets                                    int64
Advertising Platforms                          int64
Creative                                       int64
All Students                                   int64
Electronics                                    int64
Big Data                                       int64
Other                                          int64
age                                            int64
age IPO                                      float64
dtype: object

In [ ]:
mean_without_zeros = data.loc[data['Number of Employees'] != 0, 'Number of Employees'].mean()

# Step 2: Replace 0s with that mean
data['Number of Employees'] = data['Number of Employees'].replace(0, mean_without_zeros)

In [ ]:
# for col in data.columns:
#     if data[col].dtype == 'object':  # or you can use: if data[col].dtype == 'O'
#         le = LabelEncoder()
#         data[col] = data[col].astype(str)  # ensure all values are strings
#         data[col] = le.fit_transform(data[col])

In [ ]:
data

,Acquiring Company,Tagline,Founders,Number of Employees,Number of Employees (year of last update),Total Funding ($),Number of Acquisitions,Board Members,City (HQ),State / Region (HQ),...,E-Commerce,All Markets,Advertising Platforms,Creative,All Students,Electronics,Big Data,Other,age,age IPO
0,Adobe,Adobe is an American multinational computer so...,"John Warnock, Charles Geschke",11144.000000,2012.0,0,38,NaN,San Jose,California,...,0,0,0,1,0,0,0,0,43,39.0
1,Amazon,Amazon is an international e-commerce company ...,Jeff Bezos,132600.000000,2014.0,8000000,45,"Gervase Clifton-Bligh, Patricia Q. Stonesifer,...",Seattle,Washington,...,1,0,0,0,0,0,0,1,31,28.0
2,AOL,AOL is a Brand company committed to innovating...,"Marc Seriff, Steve Case, Jim Kimsey",5600.000000,2012.0,1000000000,62,"David Bell, Susan Lyne, Jim Wiatt, Fred Reynol...",New York City,New York,...,0,0,1,0,0,0,0,0,40,16.0
3,Apple,Apple is a multinational corporation that desi...,"Steve Jobs, Ronald Wayne, Steve Wozniak",98000.000000,2014.0,0,51,"Robert A. Iger, Al Gore, Gareth C.C. Chang, Cl...",Cupertino,California,...,0,0,0,0,0,0,0,1,49,45.0
4,AT&T,AT&T provides telecommunications services such...,Alexander Graham Bell,246740.000000,2013.0,0,12,"Nathen Harvey, Gilbert F. Amelio, Nigel Vaz, R...",Dallas,Texas,...,0,0,0,0,0,0,0,0,25,42.0
5,BlackBerry,BlackBerry manufactures wireless communication...,Mike Lazaridis,88339.942857,2014.0,1000000000,24,"Bert Nordberg, Richard Lynch, Claudia Kotchka,...",Waterloo,Ontario,...,0,0,0,0,0,0,0,1,41,26.0
6,CA Technologies,IT Software Company,"Russell M. Artzt, Charles Wang",12600.000000,2014.0,0,16,NaN,Islandia,New York,...,0,0,0,0,0,0,0,0,51,44.0
7,Cisco Systems,Cisco Systems is an American multinational cor...,"Leonard Bosack, Sandy Lerner",74042.000000,2014.0,2500000,162,"Greg Brown, Carol Bartz, Jim Gibbons, Gilles d...",San Jose,California,...,0,0,0,0,0,0,0,0,41,35.0
8,Comcast,"Comcast provides cable, entertainment and comm...","Daniel Aaron, Edward Rex, Ralph J. Roberts, Ju...",136000.000000,2012.0,725000000,13,"Michele Burns, S. Decker Anstrom, Judith Rodin...",Philadelphia,Pennsylvania,...,0,0,0,0,0,0,0,0,62,35.0
9,Dell,Dell is a multinational technology company tha...,Michael Dell,108800.000000,2013.0,0,26,"Judy C. Lewent, Ross Perot Jr., Shantanu Naray...",Round Rock,Texas,...,0,0,0,0,0,0,0,0,41,37.0
10,Dropbox,Dropbox operates a free file hosting service t...,"Arash Ferdowsi, Drew Houston",642.000000,2014.0,1107215000,18,"Heidi S. Messer, Sanford R. Robertson, Hadi Pa...",San Francisco,California,...,0,0,0,0,0,0,0,1,18,-1.0
11,eBay,eBay is an online auction and eCommerce market...,Pierre Omidyar,33500.000000,2013.0,6700000,48,"Scott Cook, Marc Andreessen, Priya Haji, Howar...",San Jose,California,...,1,1,0,0,0,0,0,0,30,27.0
12,EMC,EMC manufactures information management and st...,"Richard Egan, Roger Marino",63900.000000,2013.0,0,60,"Nitin Suri, Michael Capellas, David Strohm, Ro...",Hopkinton,Massachusetts,...,0,0,0,0,0,0,0,0,46,39.0
13,Facebook,Facebook is an online social networking servic...,"Eduardo Saverin, Andrew McCollum, Chris Hughes...",7185.000000,2014.0,2385000000,49,"Marc Andreessen, Peter Thiel, Jim Breyer, Hadi...",Menlo Park,California,...,0,0,0,0,1,0,0,0,21,13.0
14,Google,Google is a search and advertising service pro...,"Larry Page, Sergey Brin",52069.000000,2014.0,25100000,161,"Jeffrey Ullman, Michael Moritz, Misty Locke, D...",Mountain View,California,...,0,0,0,0,0,0,0,1,27,21.0
15,HP,Hewlett-Packard is a multinational IT corporat...,"David Packard, William Redington Hewlett",317500.000000,2013.0,0,88,"G. Kennedy Thompson, Stephen N. David, Tom Per...",Palo Alto,California,...,0,0,0,0,0,0,0,0,86,47.0
16,IBM,IBM is an IT technology and consulting firm pr...,Thomas J. Watson,431212.000000,2013.0,0,121,"Scott Gorton, Ravi Srivatsav, Rich Warwick, Jo...",Armonk,New York,...,0,0,0,0,0,0,0,0,129,47.0
17,Intel,Intel manufactures microprocessors for persona...,"Gordon Moore, Robert Noyce",107600.000000,2103.0,0,57,"Rick Bortles, John L. Thornton, James D. Plumm...",Santa Clara,California,...,0,0,0,0,0,0,0,0,57,47.0
18,Juniper Networks,"Juniper Networks designs, develops and sells p...",Pradeep Sindhu,9483.000000,2013.0,120607339,10,"Dick Kramlich, Frank Marshall, Mercedes Johnso...",Sunnyvale,California,...,0,0,0,0,0,0,0,1,29,26.0
19,LinkedIn,LinkedIn is a professional networking site tha...,"Eric Ly, Reid Hoffman, Konstantin Guericke, Al...",5400.000000,2014.0,206121421,12,"Jeffrey Glass, Sherry Coutu, Mark Kvamme, Stan...",Mountain View,California,...,0,0,0,0,0,0,0,1,22,14.0
20,Microsoft,"Microsoft, a software corporation, develops li...","Bill Gates, Paul Allen",128076.000000,2014.0,0,136,"John W. Thompson, David Ing, Helmut Panke, Cha...",Redmond,Washington,...,0,0,0,0,0,0,0,1,51,39.0
21,Nokia,Nokia is a Finnish IT and communications compa...,"Fredrik Idestam, Leo Mechelin",90981.000000,2013.0,0,38,"Inmaculada Martinez, Isabel Marey-Semper, Per ...",Finnmark,Finnmark,...,0,0,0,0,0,0,0,0,160,31.0
22,Oracle,Oracle is a computer technology corporation de...,"Ed Oates, Larry Ellison, Bob Miner",122458.000000,2013.0,0,88,"Etienne Castiaux, Norm Fjeldheim, Naomi O. Sel...",Redwood City,California,...,0,0,0,0,0,0,0,0,48,39.0
23,Pinterest,Pinterest is a social bookmarking site with a ...,"Evan Sharp, Ben Silbermann, Paul Sciarra",333.000000,2014.0,762500000,5,"Scott Belsky, Paul Sciarra, Ben Silbermann",San Francisco,California,...,0,0,0,0,0,0,0,1,16,-1.0
24,Qualcomm,Qualcomm Incorporated is a semiconductor compa...,"Irwin M. Jacobs, Andrew Viterbi",31000.000000,2014.0,0,22,"Michael Howse, Will Headapohl, Susan Hockfield",San Diego,California,...,0,0,0,0,0,0,0,1,40,34.0
25,Salesforce,Salesforce is an enterprise cloud-computing co...,"Parker Harris, Marc Benioff",12000.000000,2013.0,21000000,29,"Craig Ramsey, Scott Sandell, Allen Miner, Mayn...",San Francisco,California,...,0,0,0,0,0,0,0,1,26,21.0
26,Samsung Electronics,"Samsung manufactures electronic components, in...",Byung-Chull Lee,326000.000000,2014.0,0,10,Byung-Chull Lee,Suwon,Gyeonggi-do,...,0,0,0,0,0,1,0,0,56,-1.0
27,SanDisk,SanDisk is a multinational corporation that de...,"Eli Harari, Sanjay Mehrotra, Jack Yuan",5459.000000,2013.0,0,6,"Eddy Hartenstein, Steve Gomo, Kevin DeNuccio, ...",Milpitas,California,...,0,0,0,0,0,0,0,0,37,30.0
28,SAP,SAP is a technology company developing enterpr...,"Hasso Plattner, Klaus Tschira, Claus Wellenreu...",66500.000000,2104.0,0,13,"Raj Parekh, Roger Jiang, James Sullivan",Walldorf,Baden-Württemberg,...,0,0,0,0,0,0,0,0,53,27.0
29,Sony,Sony is a multinational company manufacturing ...,"Masaru Ibuka, Akio Morita",140900.000000,2014.0,0,4,"Dr. Makimoto, Joi Ito",San Diego,California,...,0,0,0,0,0,0,0,0,79,47.0
30,Symantec,"Symantec provides security, storage and system...",Gary Hendrix,20402.000000,2014.0,0,17,"Tom Perkins, Gerry Laybourne, David Mahoney, R...",Mountain View,California,...,0,0,0,0,0,0,0,0,43,36.0
31,Teradata,"Teradata offers analytic data platforms, appli...","David Hartke, Jerry Modes",10200.000000,2014.0,0,7,"Nanea Reeves, David E. Kepler",Miamisburg,Ohio,...,0,0,0,0,0,0,1,0,46,18.0
32,Twitter,Twitter is a global real-time communications p...,"Noah Glass, Biz Stone, Jack Dorsey, Evan Williams",3300.000000,2014.0,1160166511,38,"Shiva Shivakumar, Bijan Sabet, Sam Pullara, Ra...",San Francisco,California,...,0,0,0,0,0,0,0,1,19,12.0
33,Verizon Communications,Verizon is a broadband and telecommunications ...,"Charles R. Lee, Ivan G. Seidenberg",176800.000000,2013.0,30079503000,7,"Donald T. Nicolaisen, Richard L. Carrion, Shel...",New York City,New York,...,0,0,0,0,0,0,0,0,42,42.0
34,Vodafone,Vodafone is a British mobile telecommunication...,"Ernest Harrison, Gerry Whent",91272.000000,2013.0,0,9,"Greg Tarr, Nigel Vaz, Peter Bamford, Michel Co...",West Berkshire,West Berkshire,...,0,0,0,0,0,0,0,1,42,37.0
35,Yahoo,Yahoo! is a multinational internet corporation...,"David Filo, Jerry Yang",12200.000000,2013.0,6800000,112,"Michael Moritz, Peter Liguori, Misty Locke, Ma...",Sunnyvale,California,...,0,0,0,0,0,0,0,1,31,29.0

In [ ]:
from collections import Counter

# Step 1: Combine all board members into a single list
all_members = []

for cell in data['Board Members'].dropna():
    members = [name.strip() for name in cell.split(',')]
    all_members.extend(members)

# Step 2: Count occurrences
member_counts = Counter(all_members)

# Step 3: Convert to DataFrame (optional, for easier viewing)
member_counts_df = pd.DataFrame(member_counts.items(), columns=['Name', 'Count']).sort_values(by='Count', ascending=True)

print(member_counts_df.head(10))
member_counts_df['Count'].value_counts()

                   Name  Count
195    Stephen J. Luczo      1
205       Dona Crawford      1
204  Chris Featherstone      1
202     Brian Herschaft      1
201  Igor R. Agamirzian      1
200      Maor David-Pur      1
199  Alexander Gounares      1
198     Kartik Raghavan      1
197         Dina Dublon      1
196      Maria M. Klawe      1

Count
1    283
2     18
3      4
Name: count, dtype: int64

In [ ]:
data.drop(columns=['Board Members'], inplace=True)

In [ ]:
data.isna().sum()

Acquiring Company                            0
Tagline                                      0
Founders                                     0
Number of Employees                          0
Number of Employees (year of last update)    0
Total Funding ($)                            0
Number of Acquisitions                       0
City (HQ)                                    0
State / Region (HQ)                          0
Country (HQ)                                 0
Description                                  0
Acquired Companies                           0
Acquisitions ID                              0
Is_Public                                    0
Software                                     0
Hardware + Software                          0
Mobile                                       0
Curated Web                                  0
Social Media                                 0
Networking                                   0
Web Hosting                                  0
Search                                       0
Enterprise Software                          0
Security                                     0
Hardware                                     0
Information Technology                       0
Email                                        0
E-Commerce                                   0
All Markets                                  0
Advertising Platforms                        0
Creative                                     0
All Students                                 0
Electronics                                  0
Big Data                                     0
Other                                        0
age                                          0
age IPO                                      0
dtype: int64

In [ ]:
from collections import Counter

# Step 1: Combine all board members into a single list
founders = []

for cell in data['Founders'].dropna():
    members = [name.strip() for name in cell.split(',')]
    all_members.extend(members)

# Step 2: Count occurrences
founder_counts = Counter(all_members)

# Step 3: Convert to DataFrame (optional, for easier viewing)
founder_counts_df2 = pd.DataFrame(founder_counts.items(), columns=['Name', 'Count']).sort_values(by='Count', ascending=True)

print(founder_counts_df2.head(10))
member_counts_df['Count'].value_counts()

                 Name  Count
236       Allen Miner      1
251     David Mahoney      1
250   Gerry Laybourne      1
248      Dr. Makimoto      1
247    James Sullivan      1
246        Raj Parekh      1
244    Kevin DeNuccio      1
243        Steve Gomo      1
242  Eddy Hartenstein      1
239      Colin Powell      1

Count
1    283
2     18
3      4
Name: count, dtype: int64

In [ ]:
data.drop(columns=['Founders'], inplace=True)

In [ ]:
data

,Acquiring Company,Tagline,Number of Employees,Number of Employees (year of last update),Total Funding ($),Number of Acquisitions,City (HQ),State / Region (HQ),Country (HQ),Description,...,E-Commerce,All Markets,Advertising Platforms,Creative,All Students,Electronics,Big Data,Other,age,age IPO
0,Adobe,Adobe is an American multinational computer so...,11144.000000,2012.0,0,38,San Jose,California,United States,Adobe Systems is an American multinational com...,...,0,0,0,1,0,0,0,0,43,39.0
1,Amazon,Amazon is an international e-commerce company ...,132600.000000,2014.0,8000000,45,Seattle,Washington,United States,Amazon.com is an American international e-comm...,...,1,0,0,0,0,0,0,1,31,28.0
2,AOL,AOL is a Brand company committed to innovating...,5600.000000,2012.0,1000000000,62,New York City,New York,United States,AOL is a global advertising-supported Web comp...,...,0,0,1,0,0,0,0,0,40,16.0
3,Apple,Apple is a multinational corporation that desi...,98000.000000,2014.0,0,51,Cupertino,California,United States,Apple is an American multinational corporation...,...,0,0,0,0,0,0,0,1,49,45.0
4,AT&T,AT&T provides telecommunications services such...,246740.000000,2013.0,0,12,Dallas,Texas,United States,AT&T Inc. AT&T is a holding company. AT&T is a...,...,0,0,0,0,0,0,0,0,25,42.0
5,BlackBerry,BlackBerry manufactures wireless communication...,88339.942857,2014.0,1000000000,24,Waterloo,Ontario,Canada,BlackBerry formerly Research in Motion is a Ca...,...,0,0,0,0,0,0,0,1,41,26.0
6,CA Technologies,IT Software Company,12600.000000,2014.0,0,16,Islandia,New York,United States,"CA, Inc., together with its subsidiaries, enga...",...,0,0,0,0,0,0,0,0,51,44.0
7,Cisco Systems,Cisco Systems is an American multinational cor...,74042.000000,2014.0,2500000,162,San Jose,California,United States,"Cisco designs and sells hardware, software, ne...",...,0,0,0,0,0,0,0,0,41,35.0
8,Comcast,"Comcast provides cable, entertainment and comm...",136000.000000,2012.0,725000000,13,Philadelphia,Pennsylvania,United States,Comcast Corporation is the largest mass media ...,...,0,0,0,0,0,0,0,0,62,35.0
9,Dell,Dell is a multinational technology company tha...,108800.000000,2013.0,0,26,Round Rock,Texas,United States,Dell is an end-to-end solutions provider that ...,...,0,0,0,0,0,0,0,0,41,37.0
10,Dropbox,Dropbox operates a free file hosting service t...,642.000000,2014.0,1107215000,18,San Francisco,California,United States,Dropbox was founded in 2007 by Drew Houston an...,...,0,0,0,0,0,0,0,1,18,-1.0
11,eBay,eBay is an online auction and eCommerce market...,33500.000000,2013.0,6700000,48,San Jose,California,United States,"Founded in 1995 in San Jose, CA, eBay connects...",...,1,1,0,0,0,0,0,0,30,27.0
12,EMC,EMC manufactures information management and st...,63900.000000,2013.0,0,60,Hopkinton,Massachusetts,United States,EMC is a global leader in enabling businesses ...,...,0,0,0,0,0,0,0,0,46,39.0
13,Facebook,Facebook is an online social networking servic...,7185.000000,2014.0,2385000000,49,Menlo Park,California,United States,Facebook is the world’s largest social network...,...,0,0,0,0,1,0,0,0,21,13.0
14,Google,Google is a search and advertising service pro...,52069.000000,2014.0,25100000,161,Mountain View,California,United States,Google provides search and advertising service...,...,0,0,0,0,0,0,0,1,27,21.0
15,HP,Hewlett-Packard is a multinational IT corporat...,317500.000000,2013.0,0,88,Palo Alto,California,United States,Hewlett-Packard technology corporation headqua...,...,0,0,0,0,0,0,0,0,86,47.0
16,IBM,IBM is an IT technology and consulting firm pr...,431212.000000,2013.0,0,121,Armonk,New York,United States,"IBM, acronym for International Business Machin...",...,0,0,0,0,0,0,0,0,129,47.0
17,Intel,Intel manufactures microprocessors for persona...,107600.000000,2103.0,0,57,Santa Clara,California,United States,Intel Corporation is a California-based multin...,...,0,0,0,0,0,0,0,0,57,47.0
18,Juniper Networks,"Juniper Networks designs, develops and sells p...",9483.000000,2013.0,120607339,10,Sunnyvale,California,United States,"Juniper Networks, Inc. Juniper Networks design...",...,0,0,0,0,0,0,0,1,29,26.0
19,LinkedIn,LinkedIn is a professional networking site tha...,5400.000000,2014.0,206121421,12,Mountain View,California,United States,LinkedIn is the world's largest professional n...,...,0,0,0,0,0,0,0,1,22,14.0
20,Microsoft,"Microsoft, a software corporation, develops li...",128076.000000,2014.0,0,136,Redmond,Washington,United States,Microsoft is an American multinational corpora...,...,0,0,0,0,0,0,0,1,51,39.0
21,Nokia,Nokia is a Finnish IT and communications compa...,90981.000000,2013.0,0,38,Finnmark,Finnmark,Norway,NOKIA is a Finnish multinational communication...,...,0,0,0,0,0,0,0,0,160,31.0
22,Oracle,Oracle is a computer technology corporation de...,122458.000000,2013.0,0,88,Redwood City,California,United States,"Oracle is shifting the complexity from IT, mov...",...,0,0,0,0,0,0,0,0,48,39.0
23,Pinterest,Pinterest is a social bookmarking site with a ...,333.000000,2014.0,762500000,5,San Francisco,California,United States,Pinterest is a visual discovery and planning t...,...,0,0,0,0,0,0,0,1,16,-1.0
24,Qualcomm,Qualcomm Incorporated is a semiconductor compa...,31000.000000,2014.0,0,22,San Diego,California,United States,Qualcomm is an American global fabless semicon...,...,0,0,0,0,0,0,0,1,40,34.0
25,Salesforce,Salesforce is an enterprise cloud-computing co...,12000.000000,2013.0,21000000,29,San Francisco,California,United States,Salesforce is an enterprise cloud computing co...,...,0,0,0,0,0,0,0,1,26,21.0
26,Samsung Electronics,"Samsung manufactures electronic components, in...",326000.000000,2014.0,0,10,Suwon,Gyeonggi-do,South Korea,"Samsung Electronics Co. Ltd., together with it...",...,0,0,0,0,0,1,0,0,56,-1.0
27,SanDisk,SanDisk is a multinational corporation that de...,5459.000000,2013.0,0,6,Milpitas,California,United States,"Founded in 1988 by Dr. Eli Harari, an internat...",...,0,0,0,0,0,0,0,0,37,30.0
28,SAP,SAP is a technology company developing enterpr...,66500.000000,2104.0,0,13,Walldorf,Baden-Württemberg,Germany,SAP is a software company developing enterpris...,...,0,0,0,0,0,0,0,0,53,27.0
29,Sony,Sony is a multinational company manufacturing ...,140900.000000,2014.0,0,4,San Diego,California,United States,Sony is one of the leading manufacturers of el...,...,0,0,0,0,0,0,0,0,79,47.0
30,Symantec,"Symantec provides security, storage and system...",20402.000000,2014.0,0,17,Mountain View,California,United States,Symantec Corporation Symantec is a global prov...,...,0,0,0,0,0,0,0,0,43,36.0
31,Teradata,"Teradata offers analytic data platforms, appli...",10200.000000,2014.0,0,7,Miamisburg,Ohio,United States,Teradata Corporation NYSE: TDC is the global l...,...,0,0,0,0,0,0,1,0,46,18.0
32,Twitter,Twitter is a global real-time communications p...,3300.000000,2014.0,1160166511,38,San Francisco,California,United States,Twitter is an online social network and a micr...,...,0,0,0,0,0,0,0,1,19,12.0
33,Verizon Communications,Verizon is a broadband and telecommunications ...,176800.000000,2013.0,30079503000,7,New York City,New York,United States,Verizon Communications Inc. delivers broadband...,...,0,0,0,0,0,0,0,0,42,42.0
34,Vodafone,Vodafone is a British mobile telecommunication...,91272.000000,2013.0,0,9,West Berkshire,West Berkshire,United Kingdom,Vodafone Group is a mobile telecommunications ...,...,0,0,0,0,0,0,0,1,42,37.0
35,Yahoo,Yahoo! is a multinational internet corporation...,12200.000000,2013.0,6800000,112,Sunnyvale,California,United States,Yahoo was founded in 1994 by Stanford Ph.D. st...,...,0,0,0,0,0,0,0,1,31,29.0

In [ ]:
data['Text_Combined'] = data['Tagline'].fillna('') + ' ' + data['Description'].fillna('')

In [ ]:
data['Text_Combined']

0     Adobe is an American multinational computer so...
1     Amazon is an international e-commerce company ...
2     AOL is a Brand company committed to innovating...
3     Apple is a multinational corporation that desi...
4     AT&T provides telecommunications services such...
5     BlackBerry manufactures wireless communication...
6     IT Software Company CA, Inc., together with it...
7     Cisco Systems is an American multinational cor...
8     Comcast provides cable, entertainment and comm...
9     Dell is a multinational technology company tha...
10    Dropbox operates a free file hosting service t...
11    eBay is an online auction and eCommerce market...
12    EMC manufactures information management and st...
13    Facebook is an online social networking servic...
14    Google is a search and advertising service pro...
15    Hewlett-Packard is a multinational IT corporat...
16    IBM is an IT technology and consulting firm pr...
17    Intel manufactures microprocessors for persona...
18    Juniper Networks designs, develops and sells p...
19    LinkedIn is a professional networking site tha...
20    Microsoft, a software corporation, develops li...
21    Nokia is a Finnish IT and communications compa...
22    Oracle is a computer technology corporation de...
23    Pinterest is a social bookmarking site with a ...
24    Qualcomm Incorporated is a semiconductor compa...
25    Salesforce is an enterprise cloud-computing co...
26    Samsung manufactures electronic components, in...
27    SanDisk is a multinational corporation that de...
28    SAP is a technology company developing enterpr...
29    Sony is a multinational company manufacturing ...
30    Symantec provides security, storage and system...
31    Teradata offers analytic data platforms, appli...
32    Twitter is a global real-time communications p...
33    Verizon is a broadband and telecommunications ...
34    Vodafone is a British mobile telecommunication...
35    Yahoo! is a multinational internet corporation...
Name: Text_Combined, dtype: object

In [ ]:
def clean_text(text):
    text = text.lower()
    text = re.sub(r'[^a-z\s]', '', text)  # remove punctuation/numbers
    text = re.sub(r'\s+', ' ', text).strip()  # remove extra whitespace
    return text

data['Text_Clean'] = data['Text_Combined'].apply(clean_text)

In [ ]:
data['Text_Clean']

0     adobe is an american multinational computer so...
1     amazon is an international ecommerce company a...
2     aol is a brand company committed to innovating...
3     apple is a multinational corporation that desi...
4     att provides telecommunications services such ...
5     blackberry manufactures wireless communication...
6     it software company ca inc together with its s...
7     cisco systems is an american multinational cor...
8     comcast provides cable entertainment and commu...
9     dell is a multinational technology company tha...
10    dropbox operates a free file hosting service t...
11    ebay is an online auction and ecommerce market...
12    emc manufactures information management and st...
13    facebook is an online social networking servic...
14    google is a search and advertising service pro...
15    hewlettpackard is a multinational it corporati...
16    ibm is an it technology and consulting firm pr...
17    intel manufactures microprocessors for persona...
18    juniper networks designs develops and sells pr...
19    linkedin is a professional networking site tha...
20    microsoft a software corporation develops lice...
21    nokia is a finnish it and communications compa...
22    oracle is a computer technology corporation de...
23    pinterest is a social bookmarking site with a ...
24    qualcomm incorporated is a semiconductor compa...
25    salesforce is an enterprise cloudcomputing com...
26    samsung manufactures electronic components inf...
27    sandisk is a multinational corporation that de...
28    sap is a technology company developing enterpr...
29    sony is a multinational company manufacturing ...
30    symantec provides security storage and systems...
31    teradata offers analytic data platforms applic...
32    twitter is a global realtime communications pl...
33    verizon is a broadband and telecommunications ...
34    vodafone is a british mobile telecommunication...
35    yahoo is a multinational internet corporation ...
Name: Text_Clean, dtype: object

In [ ]:

tfidf = TfidfVectorizer(max_features=150)
tfidf_matrix = tfidf.fit_transform(data['Text_Clean'])

In [ ]:
tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=tfidf.get_feature_names_out())
data = pd.concat([data.reset_index(drop=True), tfidf_df.reset_index(drop=True)], axis=1)

In [ ]:
data.shape

(36, 188)

In [ ]:
data.drop(columns=['Tagline','Description'], inplace=True)

In [ ]:
data.drop(columns=['Text_Clean'], inplace=True)

In [ ]:
import re
acquisition_df = pd.read_csv("Acquisitions.csv")
acquired_df = pd.read_csv(r"Acquired Tech Companies.csv")


#acquired_df.head()
acquired_df.columns
print(acquired_df.isnull().sum())

print(acquired_df.duplicated().sum())
#print("status column unique values",acquisition_df["Status"].unique())
#print("Terms column unique values",acquisition_df["Terms"].unique())

acquired_df.info()
# task1 from the address get the country then remove the address




def extract_year(text):
    if not isinstance(text, str) or not text.strip():
        return None

    # Look for 'founded' followed by anything then a 4-digit year
    match = re.search(r'\bfounded\b.*?(\d{4})', text, re.IGNORECASE)
    if match:
        return int(match.group(1))

    return None

print(acquired_df['Year Founded'].isnull().sum())
# Apply the function to 'Tagline' and 'Description' where 'Year Founded' is null
acquired_df['Year Founded'] = acquired_df.apply(
    lambda row: extract_year(row['Tagline']) if pd.isnull(row['Year Founded']) else row['Year Founded'], axis=1
)

# If 'Year Founded' is still null, try using the Description column
acquired_df['Year Founded'] = acquired_df.apply(
    lambda row: extract_year(row['Description']) if pd.isnull(row['Year Founded']) else row['Year Founded'], axis=1
)
print(acquired_df['Year Founded'].isnull().sum())

'''acquired_df['Year Founded'].fillna(acquired_df['Year Founded'].median(), inplace=True)
print(acquired_df['Year Founded'].isnull().sum())'''


# --- Step 4.5: Fill missing 'Market Categories' from 'Tagline' ---

# Fill NaN values with 'Unknown'
acquired_df['Market Categories'] = acquired_df['Market Categories'].fillna('Unknown')

# Define keyword-based categories
category_keywords = {
    "Artificial Intelligence": ["ai", "machine learning", "deep learning", "neural network"],
    "Mobile": ["mobile", "android", "ios", "app store", "smartphone"],
    "E-Commerce": ["ecommerce", "e-commerce", "shopping", "online store"],
    "FinTech": ["finance", "banking", "payments", "fintech", "crypto", "blockchain"],
    "Healthcare": ["health", "medical", "hospital", "doctor", "pharma"],
    "Social Media": ["social network", "community", "messaging", "chat"],
    "Gaming": ["game", "gaming", "video game", "esports"],
    "Cloud": ["cloud", "saas", "paas", "infrastructure"],
    "EdTech": ["education", "learning", "students", "teaching", "school"],
    "Data Analytics": ["analytics", "data science", "big data", "insights"]
}

# Optional: preview unique existing categories
split_categories = acquired_df['Market Categories'].apply(lambda x: [i.strip() for i in x.split(',') if i.strip()])
all_categories = sorted(set(cat for sublist in split_categories for cat in sublist))
print("Sample existing categories:", all_categories[:20])
print("Total unique categories:", len(all_categories))

# Function to guess category from tagline

'''def guess_category_from_tagline(tagline):
    tagline = str(tagline).lower()
    matched = [cat for cat, keywords in category_keywords.items()
               if any(keyword in tagline for keyword in keywords)]
    return ', '.join(matched) if matched else "Unknown"'''


def guess_category_from_tagline(tagline):
    tagline = str(tagline).lower()
    matched = [cat for cat, keywords in category_keywords.items()
               if any(keyword in tagline for keyword in keywords)]

    # Ensure at least 2 values are returned
    if len(matched) == 0:
        matched = ["Software", "Advertising"]
    elif len(matched) == 1:
        matched.append("Software")

    return ', '.join(matched)
# Fill only where category is unknown
acquired_df['Market Categories'] = acquired_df.apply(
    lambda row: guess_category_from_tagline(row['Tagline']) if row['Market Categories'] in ["Unknown", "nan", "", None] else row['Market Categories'],
    axis=1
)

# Define the mapping of specific categories to generalized categories
category_mapping = {
    'Software': 'Technology & Software',
    'Advertising': 'Advertising & Marketing',
    'E-Commerce': 'E-Commerce & Online Services',
    'Mobile': 'Mobile & Consumer Electronics',
    'Games': 'Games & Entertainment',
    'Social Media': 'Social Networking & Communication',
    'Cloud': 'Technology & Software',
    'Finance': 'Finance & Payments',
    'Healthcare': 'Healthcare & Wellness',
    'Semiconductors': 'Technology Hardware',
    'Data Analytics': 'Analytics & Data Science',
    'Search': 'Advertising & Marketing',
    'Video': 'Games & Entertainment',
    'Networking': 'Telecom & Networks',
    'Messaging': 'Social Networking & Communication',
    'Education': 'Education & Learning',
    'News': 'Media & News',
    'Photo Sharing': 'Digital Media & Content',
    'Mobile Payments': 'Finance & Payments',
    'Robotics': 'Games & Entertainment',
    'Music': 'Games & Entertainment',
    'Photo Editing': 'Digital Media & Content',
    'Online Rental': 'E-Commerce & Online Services',
    'Location Based Services': 'Telecom & Networks',
    'Enterprise Software': 'Technology & Software',
    'Video Streaming': 'Games & Entertainment',
    'PaaS': 'Technology & Software',
    'SaaS': 'Technology & Software',
    'Health and Wellness': 'Healthcare & Wellness',
    'Web Hosting': 'Technology & Software',
    'Internet of Things': 'IoT (Internet of Things)',
    'Cloud Security': 'Technology & Software',
    'Virtual Currency': 'Finance & Payments',
    'Search Marketing': 'Advertising & Marketing',
    'Mobile Social': 'Social Networking & Communication',
    'Retail': 'Retail & Fashion',
    'Consulting': 'Others & Miscellaneous',
    'Aerospace': 'Others & Miscellaneous',
    'Food Delivery': 'Consumer Goods & Services',
    'Fashion': 'Retail & Fashion',
    'Wine And Spirits': 'Consumer Goods & Services',
    'Streaming': 'Games & Entertainment',
    'Task Management': 'Others & Miscellaneous',
    'Video Chat': 'Social Networking & Communication',
    'Personalization': 'Advertising & Marketing',
    'Shopping': 'E-Commerce & Online Services',
    'Local': 'E-Commerce & Online Services',
    'News': 'Media & News',
    'Fraud Detection': 'Advertising & Marketing',
    'Image Recognition': 'Technology Hardware',
    'Virtualization': 'Games & Entertainment',
    'Analytics': 'Analytics & Data Science',
    'Video on Demand': 'Games & Entertainment',
    'Mobile Payments': 'Finance & Payments',
    'Marketing Automation': 'Advertising & Marketing',
    'Consumer Electronics': 'Mobile & Consumer Electronics',
    'Video Games': 'Games & Entertainment',
    'Public Relations': 'Advertising & Marketing'
}

# Add any other specific categories to the mapping above

# Function to map specific categories to the generalized ones
def map_to_generalized_category(row):
    # Split the current market categories and map each category
    categories = row.split(',')  # Split by comma
    generalized_categories = []

    for category in categories:
        category = category.strip()  # Remove any extra spaces
        if category in category_mapping:
            generalized_categories.append(category_mapping[category])
        else:
            generalized_categories.append('Others & Miscellaneous')  # In case of unknown categories

    return ', '.join(set(generalized_categories))  # Return unique generalized categories as a string

# Apply the mapping function to the 'Market Categories' column
acquired_df['Generalized Market Categories'] = acquired_df['Market Categories'].apply(map_to_generalized_category)

# Print the full output without truncation
print(acquired_df[['Market Categories', 'Generalized Market Categories']].to_string(index=False))

acquired_df.loc[acquired_df['Company']=="Emagic"]
acquired_df.info()

print(acquired_df.isnull().sum())

# Prepare country list
countries = [country.name for country in pycountry.countries]
regions = ['California', 'New York', 'Texas', 'Basel', 'Utah', 'Île-de-France', 'Bavaria', 'Ontario',
           'Switzerland', 'United States', 'France', 'Great Britain',
       'Israel', 'Sweden', 'Canada', 'Germany', 'Japan', 'India',
       'Denmark', 'China', 'Spain', 'Netherlands', 'Finland', 'Australia',
       'Ireland', 'United Stats of AMerica', 'United Arab Emirates'
           'Quebec',]  # extend as needed

# Helper function to find first match
def find_place(text, place_list):
    for place in place_list:
        if re.search(r'\b' + re.escape(place) + r'\b', str(text)):
            return place
    return None

# Loop through rows with nulls
for idx, row in acquired_df[acquired_df['Country (HQ)'].isnull() | acquired_df['State / Region (HQ)'].isnull()].iterrows():
    desc = row['Description']
    if pd.isnull(desc):
        continue
    # Try to extract country and region
    country = find_place(desc, countries)
    region = find_place(desc, regions)
    if pd.isnull(row['Country (HQ)']) and country:
        acquired_df.at[idx, 'Country (HQ)'] = country
    if pd.isnull(row['State / Region (HQ)']) and region:
        acquired_df.at[idx, 'State / Region (HQ)'] = region


columns_to_drop = ['Image', 'CrunchBase Profile', 'Homepage', 'Twitter','Address (HQ)','API','Description','Tagline','Market Categories']
acquired_df.drop(columns=columns_to_drop, inplace=True)
print(acquired_df.columns)


import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Fill nulls in categorical columns using mode
for col in ['City (HQ)', 'State / Region (HQ)', 'Country (HQ)']:
    mode_value = acquired_df[col].mode()[0]
    acquired_df[col].fillna(mode_value, inplace=True)

# Label Encoding
label_encoders = {}
for col in ['City (HQ)', 'State / Region (HQ)', 'Country (HQ)']:
    le = LabelEncoder()
    acquired_df[col + '_LabelEncoded'] = le.fit_transform(acquired_df[col].astype(str))
    label_encoders[col] = le

# One-hot encoding
df_one_hot = pd.get_dummies(acquired_df[['City (HQ)', 'State / Region (HQ)', 'Country (HQ)']],
                            prefix=['City', 'State', 'Country'])

# Drop the original columns
acquired_df.drop(columns=['City (HQ)', 'State / Region (HQ)', 'Country (HQ)'], inplace=True)

# Combine everything
df_final = pd.concat([acquired_df, df_one_hot], axis=1)

# View the result
print(df_final.head())
from sklearn.preprocessing import MultiLabelBinarizer
import pandas as pd

# Step 1: Convert the 'Generalized Market Categories' column to a list of categories
acquired_df['MultiCategoryList'] = acquired_df['Generalized Market Categories'].apply(
    lambda x: [cat.strip() for cat in x.split(',')] if pd.notnull(x) else []
)

# Step 2: Initialize the MultiLabelBinarizer
mlb = MultiLabelBinarizer()

# Step 3: Transform the list column to one-hot encoded format
multi_hot_encoded = mlb.fit_transform(acquired_df['MultiCategoryList'])

# Step 4: Convert to DataFrame with proper column names
df_multi_hot = pd.DataFrame(multi_hot_encoded, columns=mlb.classes_, index=acquired_df.index)

# Step 5: Drop the helper column
acquired_df.drop(columns=['MultiCategoryList'], inplace=True)

# Step 6: Merge back the encoded columns
acquired_df = pd.concat([acquired_df, df_multi_hot], axis=1)

# Final result
print(acquired_df.head())


acquired_df.columns

Company                  0
CrunchBase Profile       0
Image                   23
Tagline                  3
Year Founded            69
Market Categories       23
Address (HQ)            33
City (HQ)               35
State / Region (HQ)     37
Country (HQ)            34
Description             11
Homepage                37
Twitter                142
Acquired by              1
Acquisitions ID          0
API                      0
dtype: int64
0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Company              310 non-null    object
 1   CrunchBase Profile   310 non-null    object
 2   Image                287 non-null    object
 3   Tagline              307 non-null    object
 4   Year Founded         241 non-null    float64
 5   Market Categories    287 non-null    object
 6   Address (HQ)         277 non-null    object
 7   City (HQ)            275 non-null    object
 8   State / Region (HQ)  273 non-null    object
 9   Country (HQ)         276 non-null    object
 10  Description          299 non-null    object
 11  Homepage             273 non-null    object
 12  Twitter              168 non-null    object
 13  Acquired by          309 non-null    object
 14  Acquisitions ID      310 non-null    object
 15  API                  310 non-null    object
dtypes: float64(1), object(15)
memory usage: 38.9+ KB
69
57
Sample existing categories: ['3D', 'Advertising', 'Aerospace', 'Analytics', 'Android', 'Apps', 'Auctions', 'B2B', 'Banking', 'Big Data', 'Browser Extensions', 'CRM', 'Cable', 'Career Management', 'Chat', 'Clean Technology', 'Clinical Trials', 'Cloud Computing', 'Cloud Data Services', 'Cloud Security']
Total unique categories: 153
                                                                                                            Market Categories                                                                                                         Generalized Market Categories
                                                                                                                     Software                                                                                                                 Technology & Software
                                                                                                                  Advertising                                                                                                               Advertising & Marketing
                                                                                                                     Software                                                                                                                 Technology & Software
                                                                                                                     Software                                                                                                                 Technology & Software
                                                                                                        Software, Advertising                                                                                        Advertising & Marketing, Technology & Software
                                                                                                                  Curated Web                                                                                                                Others & Miscellaneous
                                                                                                                   E-Commerce                                                                                                          E-Commerce & Online Services
                                                                                                               Search, Mobile                                                                                Advertising & Marketing, Mobile & Consumer Electronics
                                                                  Shipping, Software, Robotics, Hardware + Software, Hardware                                                                  Games & Entertainment, Others & Miscellaneous, Technology & Software
                                                                                                                        Games                                                                                                                 Games & Entertainment
                                                                                                                   E-Commerce                                                                                                          E-Commerce & Online Services
                                                                          Wine And Spirits, Curated Web, Fashion, Electronics                                                                   Retail & Fashion, Consumer Goods & Services, Others & Miscellaneous
                                                                                                      Education, Video, Games                                                                                           Games & Entertainment, Education & Learning
                                                                                   Sales and Marketing, Advertising, Internet                                                                                       Advertising & Marketing, Others & Miscellaneous
                                                                                                                  Advertising                                                                                                               Advertising & Marketing
                                                                                                    Advertising, Optimization                                                                                       Advertising & Marketing, Others & Miscellaneous
                                                                                 Advertising, Personalization, Interest Graph                                                                                       Advertising & Marketing, Others & Miscellaneous
                                                                                                                  Curated Web                                                                                                                Others & Miscellaneous
                                                                             Ticketing, Entertainment, Media, Services, Games                                                                                         Games & Entertainment, Others & Miscellaneous
                                                                                                                         News                                                                                                                          Media & News
                                                                                                           Advertising, Media                                                                                       Advertising & Marketing, Others & Miscellaneous
                                                                                                                  Curated Web                                                                                                                Others & Miscellaneous
                                                                                                                  Advertising                                                                                                               Advertising & Marketing
                                                                                                                         News                                                                                                                          Media & News
                                                                                        Video Chat, Chat, Enterprise Software                                                      Social Networking & Communication, Others & Miscellaneous, Technology & Software
                                                                                                                  Curated Web                                                                                                                Others & Miscellaneous
                                                                                                               Semiconductors                                                                                                                   Technology Hardware
                                                                                                              Music, Hardware                                                                                         Games & Entertainment, Others & Miscellaneous
             Networking, Proximity Internet, Location Based Services, Photography, Photo Sharing, Mobile Social, Mobile, None Telecom & Networks, Mobile & Consumer Electronics, Social Networking & Communication, Digital Media & Content, Others & Miscellaneous
                                                                                                                  Curated Web                                                                                                                Others & Miscellaneous
                                                                                                        Software, Advertising                                                                                        Advertising & Marketing, Technology & Software
                                                                                                               Semiconductors                                                                                                                   Technology Hardware
                                                                                                             EdTech, Software                                                                                         Others & Miscellaneous, Technology & Software
                                                                                                               Semiconductors                                                                                                                   Technology Hardware
                                                              Curated Web, Browser Extensions, Photography, Image Recognition                                                                                           Technology Hardware, Others & Miscellaneous
                                                                                   Sensors, Hardware + Software, 3D, Hardware                                                                                                                Others & Miscellaneous
                                                                                                                  Advertising                                                                                                               Advertising & Marketing
                                                             Twitter Applications, Real Time, Search, Analytics, Social Media                          Social Networking & Communication, Advertising & Marketing, Analytics & Data Science, Others & Miscellaneous
                                                                                    Location Based Services, Wireless, Mobile                                                             Telecom & Networks, Mobile & Consumer Electronics, Others & Miscellaneous
                                                                                                                       Mobile                                                                                                         Mobile & Consumer Electronics
                                                                                                                  Web Hosting                                                                                                                 Technology & Software
                                                                                                          Hardware + Software                                                                                                                Others & Miscellaneous
                                                                                                                     Software                                                                                                                 Technology & Software
                                                                                                                     Software                                                                                                                 Technology & Software
                                                                                          Cloud Security, Enterprise Software                                                                                                                 Technology & Software
                                                                                                                     Software                                                                                                                 Technology & Software
                                                                                                         Networking, Software                                                                                             Telecom & Networks, Technology & Software
                                                                                                                     Software                                                                                                                 Technology & Software
                                                                                                                     Software                                                                                                                 Technology & Software
                                                                                                                  Web Hosting                                                                                                                 Technology & Software
                                                                                                        Software, Advertising                                                                                        Advertising & Marketing, Technology & Software
                                                                                                                  Web Hosting                                                                                                                 Technology & Software
                                                                                                          Enterprise Software                                                                                                                 Technology & Software
                                                                                                                  Web Hosting                                                                                                                 Technology & Software
                                                                                                                  Web Hosting                                                                                                                 Technology & Software
                                                                                                                    Messaging                                                                                                     Social Networking & Communication
                                                            Video Streaming, Social Network Media, Hardware + Software, Video                                                                                         Games & Entertainment, Others & Miscellaneous
                                                                                                                  Web Hosting                                                                                                                 Technology & Software
                                                                                         Information Security, Security, SaaS                                                                                         Others & Miscellaneous, Technology & Software
                                                                                                                     Software                                                                                                                 Technology & Software
                                                                                             Software, Information Technology                                                                                         Others & Miscellaneous, Technology & Software
                                                                                                                     Software                                                                                                                 Technology & Software
                                                                                                             Public Relations                                                                                                               Advertising & Marketing
                                                                                                                  Curated Web                                                                                                                Others & Miscellaneous
                                                                                                 Storage, Enterprise Software                                                                                         Others & Miscellaneous, Technology & Software
                                                                                                                  Curated Web                                                                                                                Others & Miscellaneous
                                                                                                    Entertainment, Technology                                                                                                                Others & Miscellaneous
                                                                          Advertising, Television, Video, Enterprise Software                                         Advertising & Marketing, Others & Miscellaneous, Technology & Software, Games & Entertainment

<ipython-input-54-423da3758cbe>:230: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  acquired_df[col].fillna(mode_value, inplace=True)

Index(['Company', 'Year Founded', 'Acquired by', 'Acquisitions ID',
       'Generalized Market Categories', 'City (HQ)_LabelEncoded',
       'State / Region (HQ)_LabelEncoded', 'Country (HQ)_LabelEncoded',
       'Advertising & Marketing', 'Analytics & Data Science',
       'Consumer Goods & Services', 'Digital Media & Content',
       'E-Commerce & Online Services', 'Education & Learning',
       'Finance & Payments', 'Games & Entertainment', 'Healthcare & Wellness',
       'IoT (Internet of Things)', 'Media & News',
       'Mobile & Consumer Electronics', 'Others & Miscellaneous',
       'Retail & Fashion', 'Social Networking & Communication',
       'Technology & Software', 'Technology Hardware', 'Telecom & Networks'],
      dtype='object')

In [ ]:
acquired_df.drop(columns=['Generalized Market Categories'], inplace=True)

In [ ]:
acquired_df.columns

Index(['Company', 'Year Founded', 'Acquired by', 'Acquisitions ID',
       'City (HQ)_LabelEncoded', 'State / Region (HQ)_LabelEncoded',
       'Country (HQ)_LabelEncoded', 'Advertising & Marketing',
       'Analytics & Data Science', 'Consumer Goods & Services',
       'Digital Media & Content', 'E-Commerce & Online Services',
       'Education & Learning', 'Finance & Payments', 'Games & Entertainment',
       'Healthcare & Wellness', 'IoT (Internet of Things)', 'Media & News',
       'Mobile & Consumer Electronics', 'Others & Miscellaneous',
       'Retail & Fashion', 'Social Networking & Communication',
       'Technology & Software', 'Technology Hardware', 'Telecom & Networks'],
      dtype='object')

In [ ]:
acquired_df.drop(columns=['Year Founded'], inplace=True)

In [ ]:
acquired_df['Acquired by'].fillna('Salesforce', inplace=True)

<ipython-input-58-e2b6457b28a6>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  acquired_df['Acquired by'].fillna('Salesforce', inplace=True)

In [ ]:
acquired_df.isna().sum()

Company                              0
Acquired by                          0
Acquisitions ID                      0
City (HQ)_LabelEncoded               0
State / Region (HQ)_LabelEncoded     0
Country (HQ)_LabelEncoded            0
Advertising & Marketing              0
Analytics & Data Science             0
Consumer Goods & Services            0
Digital Media & Content              0
E-Commerce & Online Services         0
Education & Learning                 0
Finance & Payments                   0
Games & Entertainment                0
Healthcare & Wellness                0
IoT (Internet of Things)             0
Media & News                         0
Mobile & Consumer Electronics        0
Others & Miscellaneous               0
Retail & Fashion                     0
Social Networking & Communication    0
Technology & Software                0
Technology Hardware                  0
Telecom & Networks                   0
dtype: int64

In [ ]:
# Importing Libraries

# Import and Overview the data

df = pd.read_csv('Acquisitions.csv')
df.head()
df.info()
# Check for missing values
print(df.isnull().sum())

value_counts_1 = df['Status'].value_counts()
value_counts_2 = df['Terms'].value_counts()

# Print unique values and their frequencies
print(value_counts_1)
print('------------------')
print(value_counts_2)


### Filling Null Values
# Get mode of the column
mode_value = df['Status'].mode()[0]

# Fill NaN values with the mode
df['Status'].fillna(mode_value, inplace=True)
### One-Hot Encoding
 #One-hot encode the 'Status' column
df = pd.get_dummies(df, columns=['Status'], drop_first=False)
# One-hot encode the 'Terms' column
df = pd.get_dummies(df, columns=['Terms'], drop_first=False)
df.head()
### Drop unnecessary columns
# Apply transformation to remove 'Cash,Stock' from the 'Terms' column
combined_mask = df['Terms_Cash, Stock'] == True
df.loc[combined_mask, 'Terms_Cash'] = True
df.loc[combined_mask, 'Terms_Stock'] = True

# Drop combined column
df = df.drop('Terms_Cash, Stock', axis=1)
#Drop unuseful columns that are not needed for the analysis
df.drop(columns=["Acquisition Profile", "News", "News Link"], inplace=True)
# Recheck after conversion
print("\n🔹 Data Types After Converting 'Price':")
print(df.dtypes)
## Extract Date Features
# Convert 'Deal announced on' to datetime
df['Deal_date'] = pd.to_datetime(df['Deal announced on'], dayfirst=True, errors='coerce')


# Extract day, month, and day of week
df['Deal_day'] = df['Deal_date'].dt.day
df['Deal_month'] = df['Deal_date'].dt.month
df['Deal_dayofweek'] = df['Deal_date'].dt.dayofweek  # Monday=0, Sunday=6

# Drop combined column
df = df.drop('Deal announced on', axis=1)
df = df.drop('Deal_date', axis=1)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336 entries, 0 to 335
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Acquisitions ID                   336 non-null    object
 1   Acquired Company                  336 non-null    object
 2   Acquiring Company                 336 non-null    object
 3   Year of acquisition announcement  336 non-null    int64
 4   Deal announced on                 336 non-null    object
 5   Deal size class                   336 non-null    object
 6   Status                            335 non-null    object
 7   Terms                             336 non-null    object
 8   Acquisition Profile               335 non-null    object
 9   News                              314 non-null    object
 10  News Link                         314 non-null    object
dtypes: int64(1), object(10)
memory usage: 29.0+ KB
Acquisitions ID                      0
Acquired Company                     0
Acquiring Company                    0
Year of acquisition announcement     0
Deal announced on                    0
Deal size class                      0
Status                               1
Terms                                0
Acquisition Profile                  1
News                                22
News Link                           22
dtype: int64
Status
Undisclosed    310
Complete        16
Pending          9
Name: count, dtype: int64
------------------
Terms
Undisclosed    148
Cash           128
Cash, Stock     36
Stock           24
Name: count, dtype: int64

🔹 Data Types After Converting 'Price':
Acquisitions ID                     object
Acquired Company                    object
Acquiring Company                   object
Year of acquisition announcement     int64
Deal announced on                   object
Deal size class                     object
Status_Complete                       bool
Status_Pending                        bool
Status_Undisclosed                    bool
Terms_Cash                            bool
Terms_Stock                           bool
Terms_Undisclosed                     bool
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336 entries, 0 to 335
Data columns (total 14 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Acquisitions ID                   336 non-null    object
 1   Acquired Company                  336 non-null    object
 2   Acquiring Company                 336 non-null    object
 3   Year of acquisition announcement  336 non-null    int64
 4   Deal size class                   336 non-null    object
 5   Status_Complete                   336 non-null    bool
 6   Status_Pending                    336 non-null    bool
 7   Status_Undisclosed                336 non-null    bool
 8   Terms_Cash                        336 non-null    bool
 9   Terms_Stock                       336 non-null    bool
 10  Terms_Undisclosed                 336 non-null    bool
 11  Deal_day                          335 non-null    float64
 12  Deal_month                        335 non-null    float64
 13  Deal_dayofweek                    335 non-null    float64
dtypes: bool(6), float64(3), int64(1), object(4)
memory usage: 23.1+ KB

<ipython-input-60-1399bbb68985>:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Status'].fillna(mode_value, inplace=True)

,Acquisitions ID,Acquired Company,Acquiring Company,Year of acquisition announcement,Deal size class,Status_Complete,Status_Pending,Status_Undisclosed,Terms_Cash,Terms_Stock,Terms_Undisclosed,Deal_day,Deal_month,Deal_dayofweek
0,EMC acquired Data Domain in 2009,Data Domain,EMC,2009,Large,False,False,True,True,False,False,8.0,7.0,2.0
1,AOL acquired Quigo in 2007,Quigo,AOL,2007,Medium,False,False,True,True,False,False,7.0,11.0,2.0
2,Cisco acquired PostPath in 2008,PostPath,Cisco Systems,2008,Medium,False,False,True,False,False,True,27.0,8.0,2.0
3,Oracle acquired BigMachines in 2013,BigMachines,Oracle,2013,Medium,False,False,True,False,False,True,24.0,10.0,3.0
4,Yahoo! acquired Snip.it in 2013,Snip.it,Yahoo,2013,Small,False,False,True,True,True,False,22.0,1.0,1.0

In [ ]:
null_indices = df[df.isna().any(axis=1)].index

# Display the indices with null values
print(null_indices)

Index([240], dtype='int64')

In [ ]:
for column in df.columns:
    mode_value = df[column].mode()[0]  # Get the mode value of the column
    df[column].fillna(mode_value, inplace=True)

# Check the result
print(df.isna().sum())

Acquisitions ID                     0
Acquired Company                    0
Acquiring Company                   0
Year of acquisition announcement    0
Deal size class                     0
Status_Complete                     0
Status_Pending                      0
Status_Undisclosed                  0
Terms_Cash                          0
Terms_Stock                         0
Terms_Undisclosed                   0
Deal_day                            0
Deal_month                          0
Deal_dayofweek                      0
dtype: int64

<ipython-input-62-f5e9c31cafb8>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(mode_value, inplace=True)
<ipython-input-62-f5e9c31cafb8>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(mode_value, inplace=True)

In [ ]:
def find_company_column(df):
    for col in df.columns:
        if "company" in col.lower():
            return col
    raise ValueError("No company name column found.")

# Start with acquisition data
final_df = df.copy()

# Mapping for left_on column and its corresponding dataset
merge_targets = [
    ('Acquired Company', acquired_df, '_Acquired'),
    ('Acquiring Company', data, '_Acquiring')
]

# Perform merges in loop
for left_key, company_data, suffix in merge_targets:
    company_col = find_company_column(company_data)

    # Strip and lower case the company names for matching
    final_df[left_key] = final_df[left_key].str.strip().str.lower()
    company_data[company_col] = company_data[company_col].str.strip().str.lower()

    # Merge
    final_df = final_df.merge(
        company_data,
        how='left',
        left_on=left_key,
        right_on=company_col,
        suffixes=('', suffix)
    )

    # Drop the extra company column if you want
    final_df.drop(columns=[company_col], inplace=True, errors='ignore')



# Done!
print(final_df.head())

                       Acquisitions ID Acquired Company  \
0     EMC acquired Data Domain in 2009      data domain
1           AOL acquired Quigo in 2007            quigo
2      Cisco acquired PostPath in 2008         postpath
3  Oracle acquired BigMachines in 2013      bigmachines
4      Yahoo! acquired Snip.it in 2013          snip.it

   Year of acquisition announcement Deal size class  Status_Complete  \
0                              2009           Large            False
1                              2007          Medium            False
2                              2008          Medium            False
3                              2013          Medium            False
4                              2013           Small            False

   Status_Pending  Status_Undisclosed  Terms_Cash  Terms_Stock  \
0           False                True        True        False
1           False                True        True        False
2           False                True       False        False
3           False                True       False        False
4           False                True        True         True

   Terms_Undisclosed  ...       web  which  wireless      with      work  \
0              False  ...  0.000000    0.0       0.0  0.000000  0.000000
1              False  ...  0.120831    0.0       0.0  0.046458  0.000000
2               True  ...  0.000000    0.0       0.0  0.000000  0.000000
3               True  ...  0.000000    0.0       0.0  0.045461  0.196044
4              False  ...  0.136166    0.0       0.0  0.026177  0.000000

      world  worlds  worldwide     yahoo  zuckerberg
0  0.000000     0.0   0.000000  0.000000         0.0
1  0.042242     0.0   0.038519  0.000000         0.0
2  0.000000     0.0   0.000000  0.000000         0.0
3  0.000000     0.0   0.000000  0.000000         0.0
4  0.000000     0.0   0.000000  0.660479         0.0

[5 rows x 220 columns]

In [ ]:
final_df.shape

(336, 220)

In [ ]:
null_indices = final_df[final_df.isna().any(axis=1)].index

# Print them
print(null_indices)
final_df.dropna(axis=0, inplace=True)

Index([ 17,  23,  30,  41,  49,  51,  55,  67,  77,  80,  98, 117, 124, 131,
       149, 176, 180, 190, 218, 249, 250, 253, 257, 283, 302, 328],
      dtype='int64')

In [ ]:
final_df.shape

(310, 220)

In [ ]:
first_column = acquired_df.columns[0]

# Define the value you're searching for
search_value = "hotjobs"  # or any value you want to look for

# Find rows where the first column matches the value
matching_rows = acquired_df[acquired_df[first_column].str.strip().str.lower() == search_value.strip().lower()]
print(matching_rows)

Empty DataFrame
Columns: [Company, Acquired by, Acquisitions ID, City (HQ)_LabelEncoded, State / Region (HQ)_LabelEncoded, Country (HQ)_LabelEncoded, Advertising & Marketing, Analytics & Data Science, Consumer Goods & Services, Digital Media & Content, E-Commerce & Online Services, Education & Learning, Finance & Payments, Games & Entertainment, Healthcare & Wellness, IoT (Internet of Things), Media & News, Mobile & Consumer Electronics, Others & Miscellaneous, Retail & Fashion, Social Networking & Communication, Technology & Software, Technology Hardware, Telecom & Networks]
Index: []

[0 rows x 24 columns]

In [ ]:
for x in final_df.isna().sum():
    print(x)

0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Make a copy so you don’t overwrite your original
encoded_df = final_df.copy()

# Loop over all columns
for col in encoded_df.columns:
    if encoded_df[col].dtype in ['object', 'bool']:  # Include strings and booleans
        le = LabelEncoder()
        encoded_df[col] = encoded_df[col].astype(str)  # Convert all values to string
        encoded_df[col] = le.fit_transform(encoded_df[col])

In [ ]:
encoded_df

,Acquisitions ID,Acquired Company,Year of acquisition announcement,Deal size class,Status_Complete,Status_Pending,Status_Undisclosed,Terms_Cash,Terms_Stock,Terms_Undisclosed,...,web,which,wireless,with,work,world,worlds,worldwide,yahoo,zuckerberg
0,77,67,2009,0,0,0,1,1,0,0,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0
1,7,217,2007,1,0,0,1,1,0,0,...,0.120831,0.000000,0.0,0.046458,0.000000,0.042242,0.00000,0.038519,0.000000,0.0
2,55,206,2008,1,0,0,1,0,0,1,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0
3,197,37,2013,1,0,0,1,0,0,1,...,0.000000,0.000000,0.0,0.045461,0.196044,0.000000,0.00000,0.000000,0.000000,0.0
4,288,246,2013,2,0,0,1,1,1,0,...,0.136166,0.000000,0.0,0.026177,0.000000,0.000000,0.00000,0.000000,0.660479,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331,50,50,1999,0,0,0,1,0,1,0,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0
332,73,157,2008,1,0,0,1,0,0,1,...,0.000000,0.000000,0.0,0.102305,0.000000,0.000000,0.00000,0.000000,0.000000,0.0
333,183,221,2002,1,0,0,1,0,0,1,...,0.084373,0.000000,0.0,0.097320,0.000000,0.000000,0.08069,0.000000,0.000000,0.0
334,245,283,2007,1,0,0,1,1,0,0,...,0.000000,0.071774,0.0,0.086567,0.000000,0.000000,0.00000,0.000000,0.000000,0.0
335,70,265,2014,0,0,0,1,0,1,0,...,0.000000,0.000000,0.0,0.000000,0.000000,0.105451,0.00000,0.000000,0.000000,0.0

In [ ]:
for col in encoded_df.columns:
    if (encoded_df[col].nunique() <= 1) or (encoded_df[col].eq(0).all()):
        encoded_df.drop(columns=col, inplace=True)

In [ ]:
encoded_df.shape

(310, 220)

In [ ]:
encoded_df['Deal size class']

0      0
1      1
2      1
3      1
4      2
      ..
331    0
332    1
333    1
334    1
335    0
Name: Deal size class, Length: 310, dtype: int64

In [ ]:
for x in df.isna().sum():
    print(x)

0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [ ]:
for x in encoded_df.columns:
    print(x)

Acquisitions ID
Acquired Company
Year of acquisition announcement
Deal size class
Status_Complete
Status_Pending
Status_Undisclosed
Terms_Cash
Terms_Stock
Terms_Undisclosed
Deal_day
Deal_month
Deal_dayofweek
Acquired by
Acquisitions ID_Acquired
City (HQ)_LabelEncoded
State / Region (HQ)_LabelEncoded
Country (HQ)_LabelEncoded
Advertising & Marketing
Analytics & Data Science
Consumer Goods & Services
Digital Media & Content
E-Commerce & Online Services
Education & Learning
Finance & Payments
Games & Entertainment
Healthcare & Wellness
IoT (Internet of Things)
Media & News
Mobile & Consumer Electronics
Others & Miscellaneous
Retail & Fashion
Social Networking & Communication
Technology & Software
Technology Hardware
Telecom & Networks
Number of Employees
Number of Employees (year of last update)
Total Funding ($)
Number of Acquisitions
City (HQ)
State / Region (HQ)
Country (HQ)
Acquired Companies
Acquisitions ID_Acquiring
Is_Public
Software
Hardware + Software
Mobile
Curated Web
Social Media
Networking
Web Hosting
Search
Enterprise Software
Security
Hardware
Information Technology
Email
E-Commerce
All Markets
Advertising Platforms
Creative
All Students
Electronics
Big Data
Other
age
age IPO
Text_Combined
across
advertising
also
american
an
and
aol
are
around
as
at
att
be
been
billion
business
businesses
by
can
card
cloud
communications
companies
company
computer
computers
computing
connections
consumer
corporation
customers
data
designs
developing
develops
devices
digital
electronics
enterprise
every
facebook
flash
for
founded
from
global
growth
hardware
has
have
headquartered
home
hp
in
inc
include
including
information
infrastructure
integrated
intel
internet
into
is
it
its
largest
major
make
management
manufactures
market
marketing
media
memory
microsoft
million
mobile
more
most
multinational
network
networking
networks
new
of
offers
on
one
online
operates
operating
or
other
over
partners
people
personal
products
provider
provides
providing
public
range
related
revenue
san
sandisk
search
security
sells
service
services
site
sites
social
software
solutions
states
storage
such
system
systems
technology
telecommunications
than
that
the
their
they
this
through
time
to
together
united
us
users
video
was
web
which
wireless
with
work
world
worlds
worldwide
yahoo
zuckerberg

In [ ]:
correlation_matrix = encoded_df.corr()

# Get correlation of each feature with 'price'
price_correlation = correlation_matrix['Deal size class']

# Set the correlation threshold (e.g., absolute value of correlation > 0.1)
threshold = 0.15

# Identify features with correlation less than the threshold (in absolute value)
low_correlation_features = price_correlation[price_correlation.abs() < threshold].index

# Drop features with low correlation
X_train_filtered = encoded_df.drop(columns=low_correlation_features)

# Print the filtered dataset
print("Features dropped due to low correlation with 'Deal size class':")
print(low_correlation_features)

Features dropped due to low correlation with 'Deal size class':
Index(['Acquisitions ID', 'Acquired Company',
       'Year of acquisition announcement', 'Status_Complete', 'Status_Pending',
       'Status_Undisclosed', 'Terms_Cash', 'Terms_Stock', 'Terms_Undisclosed',
       'Deal_day',
       ...
       'video', 'was', 'which', 'wireless', 'with', 'world', 'worlds',
       'worldwide', 'yahoo', 'zuckerberg'],
      dtype='object', length=192)

In [ ]:
X = X_train_filtered.drop(columns=['Deal size class'])
y = X_train_filtered['Deal size class']
#y_log = np.log1p(y)  # log1p(x) = log(x + 1), handles zeros safely
column=X.columns

In [ ]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled = pd.DataFrame(X_scaled, columns=X.columns)

In [ ]:
# from sklearn.feature_selection import SelectKBest, f_regression

# # Select top 5 features using f_regression
# x_data_kbest_train = SelectKBest(f_regression, k=15).fit_transform(X, y)
# print("train", x_data_kbest_train.shape)

In [ ]:
X_train, X_test, y_train_log, y_test_log = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [ ]:
from sklearn.decomposition import PCA

In [ ]:
pca = PCA(n_components=0.95)  # Retain 95% of variance

pca.fit(X_train)

# Transform training and test data
X_train_pca = pca.transform(X_train)
X_test_pca = pca.transform(X_test)

In [ ]:
from sklearn.model_selection import cross_val_score, train_test_split

In [ ]:
y_train_log

140    2
121    2
270    2
256    1
221    0
      ..
206    2
81     1
118    1
294    0
113    2
Name: Deal size class, Length: 248, dtype: int64

In [ ]:
C_values = [0.1, 1, 10]
for c in C_values:
    model = SVC(C=c, kernel='rbf', random_state=42)
    scores = cross_val_score(model, X_train, y_train_log, cv=5)
    print(f"C={c}, Accuracy={scores.mean():.3f}")

C=0.1, Accuracy=0.387
C=1, Accuracy=0.472
C=10, Accuracy=0.440

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:

C_values = [0.1, 1, 10]
for c in C_values:
    model = SVC(C=c, kernel='rbf', random_state=42)

    # Cross-validation on training data
    cv_scores = cross_val_score(model, X_train_pca, y_train_log, cv=5)
    print(f"C={c}, CV Accuracy={cv_scores.mean():.3f}")

    # Train on full training set
    model.fit(X_train_pca, y_train_log)

    # Evaluate on test set
    y_pred = model.predict(X_test_pca)
    test_acc = accuracy_score(y_test_log, y_pred)
    print(f"C={c}, Test Accuracy={test_acc:.3f}\n")

C=0.1, CV Accuracy=0.387
C=0.1, Test Accuracy=0.387

C=1, CV Accuracy=0.476
C=1, Test Accuracy=0.468

C=10, CV Accuracy=0.448
C=10, Test Accuracy=0.452

In [ ]:
C_fixed = 1
kernel_types = ['linear', 'rbf', 'poly', 'sigmoid']

for kernel in kernel_types:
    model = SVC(C=C_fixed, kernel=kernel, random_state=42)

    # Cross-validation on training set
    cv_scores = cross_val_score(model, X_train_pca, y_train_log, cv=5)
    print(f"Kernel='{kernel}', CV Accuracy={cv_scores.mean():.3f}")

    # Train on full training set
    model.fit(X_train_pca, y_train_log)

    # Predict on test set
    y_pred = model.predict(X_test_pca)
    test_acc = accuracy_score(y_test_log, y_pred)
    print(f"Kernel='{kernel}', Test Accuracy={test_acc:.3f}\n")

Kernel='linear', CV Accuracy=0.436
Kernel='linear', Test Accuracy=0.387

Kernel='rbf', CV Accuracy=0.476
Kernel='rbf', Test Accuracy=0.468

Kernel='poly', CV Accuracy=0.476
Kernel='poly', Test Accuracy=0.452

Kernel='sigmoid', CV Accuracy=0.488
Kernel='sigmoid', Test Accuracy=0.484

In [ ]:
C_fixed = 1
kernel_fixed = 'sigmoid'
gamma_values = ['scale', 'auto', 0.01, 0.1, 1]

for gamma in gamma_values:
    model = SVC(C=C_fixed, kernel=kernel_fixed, gamma=gamma, random_state=42)

    # Cross-validation
    cv_scores = cross_val_score(model, X_train_pca, y_train_log, cv=5)
    print(f"gamma={gamma}, CV Accuracy={cv_scores.mean():.3f}")

    # Train on full training set
    model.fit(X_train_pca, y_train_log)

    # Evaluate on test set
    y_pred = model.predict(X_test_pca)
    test_acc = accuracy_score(y_test_log, y_pred)
    print(f"gamma={gamma}, Test Accuracy={test_acc:.3f}\n")

gamma=scale, CV Accuracy=0.488
gamma=scale, Test Accuracy=0.484

gamma=auto, CV Accuracy=0.444
gamma=auto, Test Accuracy=0.403

gamma=0.01, CV Accuracy=0.484
gamma=0.01, Test Accuracy=0.452

gamma=0.1, CV Accuracy=0.383
gamma=0.1, Test Accuracy=0.403

gamma=1, CV Accuracy=0.391
gamma=1, Test Accuracy=0.435

In [ ]:

C_values = [0.1, 1, 10]
for c in C_values:
    model = SVC(C=c, kernel='rbf', random_state=42)

    # Cross-validation on training data
    cv_scores = cross_val_score(model, X_train, y_train_log, cv=5)
    print(f"C={c}, CV Accuracy={cv_scores.mean():.3f}")

    # Train on full training set
    model.fit(X_train, y_train_log)

    # Evaluate on test set
    y_pred = model.predict(X_test)
    test_acc = accuracy_score(y_test_log, y_pred)
    print(f"C={c}, Test Accuracy={test_acc:.3f}\n")

C=0.1, CV Accuracy=0.387
C=0.1, Test Accuracy=0.387

C=1, CV Accuracy=0.472
C=1, Test Accuracy=0.468

C=10, CV Accuracy=0.440
C=10, Test Accuracy=0.435

In [ ]:
C_fixed = 1
kernel_types = ['linear', 'rbf', 'poly', 'sigmoid']

for kernel in kernel_types:
    model = SVC(C=C_fixed, kernel=kernel, random_state=42)

    # Cross-validation on training set
    cv_scores = cross_val_score(model, X_train, y_train_log, cv=5)
    print(f"Kernel='{kernel}', CV Accuracy={cv_scores.mean():.3f}")

    # Train on full training set
    model.fit(X_train, y_train_log)

    # Predict on test set
    y_pred = model.predict(X_test)
    test_acc = accuracy_score(y_test_log, y_pred)
    print(f"Kernel='{kernel}', Test Accuracy={test_acc:.3f}\n")

Kernel='linear', CV Accuracy=0.432
Kernel='linear', Test Accuracy=0.452

Kernel='rbf', CV Accuracy=0.472
Kernel='rbf', Test Accuracy=0.468

Kernel='poly', CV Accuracy=0.476
Kernel='poly', Test Accuracy=0.435

Kernel='sigmoid', CV Accuracy=0.432
Kernel='sigmoid', Test Accuracy=0.516

In [ ]:
C_fixed = 1
kernel_fixed = 'sigmoid'
gamma_values = ['scale', 'auto', 0.01, 0.1, 1,10]

for gamma in gamma_values:
    model = SVC(C=C_fixed, kernel=kernel_fixed, gamma=gamma, random_state=42)

    # Cross-validation
    cv_scores = cross_val_score(model, X_train, y_train_log, cv=5)
    print(f"gamma={gamma}, CV Accuracy={cv_scores.mean():.3f}")

    # Train on full training set
    model.fit(X_train, y_train_log)

    # Evaluate on test set
    y_pred = model.predict(X_test)
    test_acc = accuracy_score(y_test_log, y_pred)
    print(f"gamma={gamma}, Test Accuracy={test_acc:.3f}\n")

gamma=scale, CV Accuracy=0.432
gamma=scale, Test Accuracy=0.516

gamma=auto, CV Accuracy=0.448
gamma=auto, Test Accuracy=0.532

gamma=0.01, CV Accuracy=0.484
gamma=0.01, Test Accuracy=0.468

gamma=0.1, CV Accuracy=0.403
gamma=0.1, Test Accuracy=0.355

gamma=1, CV Accuracy=0.367
gamma=1, Test Accuracy=0.290

gamma=10, CV Accuracy=0.383
gamma=10, Test Accuracy=0.403

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

In [ ]:

# Example values to test
n_estimators_list = [50, 100, 200,300]

# Fixed parameters
max_depth_fixed = 10

for n in n_estimators_list:
    model = RandomForestClassifier(n_estimators=n, max_depth=max_depth_fixed, random_state=42)

    # Cross-validation on training set
    cv_scores = cross_val_score(model, X_train, y_train_log, cv=5)
    print(f"n_estimators={n}, CV Accuracy={cv_scores.mean():.3f}")

    # Train on full training set
    model.fit(X_train, y_train_log)

    # Evaluate on test set
    y_pred = model.predict(X_test)
    test_acc = accuracy_score(y_test_log, y_pred)
    print(f"n_estimators={n}, Test Accuracy={test_acc:.3f}\n")

n_estimators=50, CV Accuracy=0.452
n_estimators=50, Test Accuracy=0.452

n_estimators=100, CV Accuracy=0.448
n_estimators=100, Test Accuracy=0.452

n_estimators=200, CV Accuracy=0.432
n_estimators=200, Test Accuracy=0.468

n_estimators=300, CV Accuracy=0.448
n_estimators=300, Test Accuracy=0.452

In [ ]:
n_estimators_list =  200

# Fixed parameters
max_depth_fixed = [10, 20, 50,100]

for n in max_depth_fixed:
    model = RandomForestClassifier(n_estimators=n_estimators_list, max_depth=n, random_state=42)

    # Cross-validation on training set
    cv_scores = cross_val_score(model, X_train, y_train_log, cv=5)
    print(f"n_estimators={n}, CV Accuracy={cv_scores.mean():.3f}")

    # Train on full training set
    model.fit(X_train, y_train_log)

    # Evaluate on test set
    y_pred = model.predict(X_test)
    test_acc = accuracy_score(y_test_log, y_pred)
    print(f"n_estimators={n}, Test Accuracy={test_acc:.3f}\n")

n_estimators=10, CV Accuracy=0.432
n_estimators=10, Test Accuracy=0.468

n_estimators=20, CV Accuracy=0.428
n_estimators=20, Test Accuracy=0.452

n_estimators=50, CV Accuracy=0.428
n_estimators=50, Test Accuracy=0.452

n_estimators=100, CV Accuracy=0.428
n_estimators=100, Test Accuracy=0.452

In [ ]:
n_estimators_list =  200

# Fixed parameters
max_depth_fixed = 10
min=[10,8,20,50]
for n in min:
    model = RandomForestClassifier(n_estimators=200, max_depth=10, min_samples_split=n,random_state=42)

    # Cross-validation on training set
    cv_scores = cross_val_score(model, X_train, y_train_log, cv=5)
    print(f"n_estimators={n}, CV Accuracy={cv_scores.mean():.3f}")

    # Train on full training set
    model.fit(X_train, y_train_log)

    # Evaluate on test set
    y_pred = model.predict(X_test)
    test_acc = accuracy_score(y_test_log, y_pred)
    print(f"n_estimators={n}, Test Accuracy={test_acc:.3f}\n")

n_estimators=10, CV Accuracy=0.428
n_estimators=10, Test Accuracy=0.500

n_estimators=8, CV Accuracy=0.416
n_estimators=8, Test Accuracy=0.468

n_estimators=20, CV Accuracy=0.444
n_estimators=20, Test Accuracy=0.484

n_estimators=50, CV Accuracy=0.485
n_estimators=50, Test Accuracy=0.452

In [ ]:

# Example values to test
n_estimators_list = [50, 100, 200,300]

# Fixed parameters
max_depth_fixed = 10

for n in n_estimators_list:
    model = RandomForestClassifier(n_estimators=n, max_depth=max_depth_fixed, random_state=42)

    # Cross-validation on training set
    cv_scores = cross_val_score(model, X_train_pca, y_train_log, cv=5)
    print(f"n_estimators={n}, CV Accuracy={cv_scores.mean():.3f}")

    # Train on full training set
    model.fit(X_train_pca, y_train_log)

    # Evaluate on test set
    y_pred = model.predict(X_test_pca)
    test_acc = accuracy_score(y_test_log, y_pred)
    print(f"n_estimators={n}, Test Accuracy={test_acc:.3f}\n")

n_estimators=50, CV Accuracy=0.472
n_estimators=50, Test Accuracy=0.452

n_estimators=100, CV Accuracy=0.468
n_estimators=100, Test Accuracy=0.468

n_estimators=200, CV Accuracy=0.472
n_estimators=200, Test Accuracy=0.500

n_estimators=300, CV Accuracy=0.460
n_estimators=300, Test Accuracy=0.500

In [ ]:
n_estimators_list =  400

# Fixed parameters
max_depth_fixed = [10, 20, 50,100]

for n in max_depth_fixed:
    model = RandomForestClassifier(n_estimators=n_estimators_list, max_depth=n, random_state=42)

    # Cross-validation on training set
    cv_scores = cross_val_score(model, X_train_pca, y_train_log, cv=5)
    print(f"n_estimators={n}, CV Accuracy={cv_scores.mean():.3f}")

    # Train on full training set
    model.fit(X_train_pca, y_train_log)

    # Evaluate on test set
    y_pred = model.predict(X_test_pca)
    test_acc = accuracy_score(y_test_log, y_pred)
    print(f"n_estimators={n}, Test Accuracy={test_acc:.3f}\n")

n_estimators=10, CV Accuracy=0.460
n_estimators=10, Test Accuracy=0.500

n_estimators=20, CV Accuracy=0.452
n_estimators=20, Test Accuracy=0.468

n_estimators=50, CV Accuracy=0.452
n_estimators=50, Test Accuracy=0.468

n_estimators=100, CV Accuracy=0.452
n_estimators=100, Test Accuracy=0.468

In [ ]:
n_estimators_list =  200

# Fixed parameters
max_depth_fixed = 1
min=[10,20,50]
for n in min:
    model = RandomForestClassifier(n_estimators=200, max_depth=10, min_samples_split=n,random_state=42)

    # Cross-validation on training set
    cv_scores = cross_val_score(model, X_train_pca, y_train_log, cv=5)
    print(f"n_estimators={n}, CV Accuracy={cv_scores.mean():.3f}")

    # Train on full training set
    model.fit(X_train_pca, y_train_log)

    # Evaluate on test set
    y_pred = model.predict(X_test_pca)
    test_acc = accuracy_score(y_test_log, y_pred)
    print(f"n_estimators={n}, Test Accuracy={test_acc:.3f}\n")

n_estimators=10, CV Accuracy=0.444
n_estimators=10, Test Accuracy=0.500

n_estimators=20, CV Accuracy=0.452
n_estimators=20, Test Accuracy=0.452

n_estimators=50, CV Accuracy=0.480
n_estimators=50, Test Accuracy=0.468

In [ ]:
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [ ]:

# Define the hyperparameter options
max_depth_values = [3, 6, 9]  # Choices for max_depth
learning_rate_values = [0.01, 0.1, 0.3]  # Choices for learning_rate

# Fixed hyperparameters
n_estimators = 100
objective = 'multi:softmax'  # Multi-class classification
num_class = len(set(y))  # Number of classes in the target variable

# Loop through different choices of max_depth
for max_depth in max_depth_values:
    print(f"Training with max_depth = {max_depth}")

    # Loop through different choices of learning_rate
    for learning_rate in learning_rate_values:
        print(f"  Training with learning_rate = {learning_rate}")

        # Initialize the XGBoost classifier with the current hyperparameters
        model = xgb.XGBClassifier(
            max_depth=max_depth,
            learning_rate=learning_rate,
            n_estimators=n_estimators,
            objective=objective,
            num_class=num_class,
            random_state=42
        )

        # Train the model
        model.fit(X_train, y_train_log)

        # Predict on the test set
        y_pred = model.predict(X_test)

        # Calculate the accuracy
        accuracy = accuracy_score(y_test_log, y_pred)

        print(f"    Accuracy for max_depth={max_depth}, learning_rate={learning_rate}: {accuracy:.4f}")

Training with max_depth = 3
  Training with learning_rate = 0.01
    Accuracy for max_depth=3, learning_rate=0.01: 0.4516
  Training with learning_rate = 0.1
    Accuracy for max_depth=3, learning_rate=0.1: 0.4839
  Training with learning_rate = 0.3
    Accuracy for max_depth=3, learning_rate=0.3: 0.4677
Training with max_depth = 6
  Training with learning_rate = 0.01
    Accuracy for max_depth=6, learning_rate=0.01: 0.4194
  Training with learning_rate = 0.1
    Accuracy for max_depth=6, learning_rate=0.1: 0.4194
  Training with learning_rate = 0.3
    Accuracy for max_depth=6, learning_rate=0.3: 0.4677
Training with max_depth = 9
  Training with learning_rate = 0.01
    Accuracy for max_depth=9, learning_rate=0.01: 0.4516
  Training with learning_rate = 0.1
    Accuracy for max_depth=9, learning_rate=0.1: 0.4355
  Training with learning_rate = 0.3
    Accuracy for max_depth=9, learning_rate=0.3: 0.4355

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
# Fixed parameters
n_estimators_list = 200
max_depth_fixed = [3, 6, 10, 20]

# Loop through different values of max_depth
for n in max_depth_fixed:
    model = GradientBoostingClassifier(n_estimators=n_estimators_list, max_depth=n, learning_rate=0.2,random_state=42)

    # Cross-validation on training set
    cv_scores = cross_val_score(model, X_train_pca, y_train_log, cv=5)
    print(f"max_depth={n}, CV Accuracy={cv_scores.mean():.3f}")

    # Train on full training set
    model.fit(X_train_pca, y_train_log)

    # Evaluate on test set
    y_pred = model.predict(X_test_pca)
    test_acc = accuracy_score(y_test_log, y_pred)
    print(f"max_depth={n}, Test Accuracy={test_acc:.3f}\n")

max_depth=3, CV Accuracy=0.476
max_depth=3, Test Accuracy=0.532

max_depth=6, CV Accuracy=0.484
max_depth=6, Test Accuracy=0.516

max_depth=10, CV Accuracy=0.444
max_depth=10, Test Accuracy=0.484

max_depth=20, CV Accuracy=0.452
max_depth=20, Test Accuracy=0.468

In [ ]:
# Fixed parameters
n_estimators_list = [100,50,200]

# Loop through different values of max_depth
for n in n_estimators_list:
    model = GradientBoostingClassifier(n_estimators=n, max_depth=3, learning_rate=0.2,random_state=42)

    # Cross-validation on training set
    cv_scores = cross_val_score(model, X_train_pca, y_train_log, cv=5)
    print(f"max_depth={n}, CV Accuracy={cv_scores.mean():.3f}")

    # Train on full training set
    model.fit(X_train_pca, y_train_log)

    # Evaluate on test set
    y_pred = model.predict(X_test_pca)
    test_acc = accuracy_score(y_test_log, y_pred)
    print(f"max_depth={n}, Test Accuracy={test_acc:.3f}\n")

max_depth=100, CV Accuracy=0.476
max_depth=100, Test Accuracy=0.532

max_depth=50, CV Accuracy=0.480
max_depth=50, Test Accuracy=0.500

max_depth=200, CV Accuracy=0.484
max_depth=200, Test Accuracy=0.500

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
# Fixed parameters
n_estimators_list = 200
max_depth_fixed = [3, 6, 10, 20]

# Loop through different values of max_depth
for n in max_depth_fixed:
    model = GradientBoostingClassifier(n_estimators=n_estimators_list, max_depth=n, random_state=42)

    # Cross-validation on training set
    cv_scores = cross_val_score(model, X_train, y_train_log, cv=5)
    print(f"max_depth={n}, CV Accuracy={cv_scores.mean():.3f}")

    # Train on full training set
    model.fit(X_train, y_train_log)

    # Evaluate on test set
    y_pred = model.predict(X_test)
    test_acc = accuracy_score(y_test_log, y_pred)
    print(f"max_depth={n}, Test Accuracy={test_acc:.3f}\n")

max_depth=3, CV Accuracy=0.440
max_depth=3, Test Accuracy=0.484

max_depth=6, CV Accuracy=0.464
max_depth=6, Test Accuracy=0.468

max_depth=10, CV Accuracy=0.468
max_depth=10, Test Accuracy=0.435

max_depth=20, CV Accuracy=0.456
max_depth=20, Test Accuracy=0.452

In [ ]:
# Fixed parameters
n_estimators_list = [100,50,200,300]
max_depth_fixed = 6

# Loop through different values of max_depth
for n in n_estimators_list:
    model = GradientBoostingClassifier(n_estimators=n, max_depth=3, random_state=42)

    # Cross-validation on training set
    cv_scores = cross_val_score(model, X_train, y_train_log, cv=5)
    print(f"max_depth={n}, CV Accuracy={cv_scores.mean():.3f}")

    # Train on full training set
    model.fit(X_train, y_train_log)

    # Evaluate on test set
    y_pred = model.predict(X_test)
    test_acc = accuracy_score(y_test_log, y_pred)
    print(f"max_depth={n}, Test Accuracy={test_acc:.3f}\n")

max_depth=100, CV Accuracy=0.444
max_depth=100, Test Accuracy=0.452

max_depth=50, CV Accuracy=0.460
max_depth=50, Test Accuracy=0.468

max_depth=200, CV Accuracy=0.440
max_depth=200, Test Accuracy=0.484

max_depth=300, CV Accuracy=0.444
max_depth=300, Test Accuracy=0.435

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.metrics import accuracy_score

In [ ]:
n_neighbors_list = [3, 5, 7, 9, 11]

# Loop over different values of n_neighbors
for k in n_neighbors_list:
    model = KNeighborsClassifier(n_neighbors=k)

    # Cross-validation on training set
    cv_scores = cross_val_score(model, X_train_pca, y_train_log, cv=5)
    print(f"n_neighbors={k}, CV Accuracy={cv_scores.mean():.3f}")

    # Train on full training set
    model.fit(X_train_pca, y_train_log)

    # Evaluate on test set
    y_pred = model.predict(X_test_pca)
    test_acc = accuracy_score(y_test_log, y_pred)
    print(f"n_neighbors={k}, Test Accuracy={test_acc:.3f}\n")

n_neighbors=3, CV Accuracy=0.379
n_neighbors=3, Test Accuracy=0.435

n_neighbors=5, CV Accuracy=0.428
n_neighbors=5, Test Accuracy=0.452

n_neighbors=7, CV Accuracy=0.400
n_neighbors=7, Test Accuracy=0.435

n_neighbors=9, CV Accuracy=0.432
n_neighbors=9, Test Accuracy=0.435

n_neighbors=11, CV Accuracy=0.448
n_neighbors=11, Test Accuracy=0.548

In [ ]:
n_neighbors_list = [3, 5, 7, 9, 11]

# Loop over different values of n_neighbors
for k in n_neighbors_list:
    model = KNeighborsClassifier(n_neighbors=k)

    # Cross-validation on training set
    cv_scores = cross_val_score(model, X_train, y_train_log, cv=5)
    print(f"n_neighbors={k}, CV Accuracy={cv_scores.mean():.3f}")

    # Train on full training set
    model.fit(X_train, y_train_log)

    # Evaluate on test set
    y_pred = model.predict(X_test)
    test_acc = accuracy_score(y_test_log, y_pred)
    print(f"n_neighbors={k}, Test Accuracy={test_acc:.3f}\n")

n_neighbors=3, CV Accuracy=0.347
n_neighbors=3, Test Accuracy=0.387

n_neighbors=5, CV Accuracy=0.371
n_neighbors=5, Test Accuracy=0.468

n_neighbors=7, CV Accuracy=0.360
n_neighbors=7, Test Accuracy=0.419

n_neighbors=9, CV Accuracy=0.432
n_neighbors=9, Test Accuracy=0.419

n_neighbors=11, CV Accuracy=0.448
n_neighbors=11, Test Accuracy=0.500

In [ ]:
# Fixed hyperparameters
n_neighbors_fixed = 11
weights_fixed = 'uniform'

# Algorithms to try
algorithm_list = ['auto', 'ball_tree', 'kd_tree', 'brute']

# Loop over algorithms
for algo in algorithm_list:
    model = KNeighborsClassifier(n_neighbors=n_neighbors_fixed, weights=weights_fixed, algorithm=algo)

    # Cross-validation
    cv_scores = cross_val_score(model, X_train_pca, y_train_log, cv=5)
    print(f"algorithm={algo}, CV Accuracy={cv_scores.mean():.3f}")

    # Train and test
    model.fit(X_train_pca, y_train_log)
    y_pred = model.predict(X_test_pca)
    test_acc = accuracy_score(y_test_log, y_pred)
    print(f"algorithm={algo}, Test Accuracy={test_acc:.3f}\n")

algorithm=auto, CV Accuracy=0.448
algorithm=auto, Test Accuracy=0.548

algorithm=ball_tree, CV Accuracy=0.464
algorithm=ball_tree, Test Accuracy=0.548

algorithm=kd_tree, CV Accuracy=0.448
algorithm=kd_tree, Test Accuracy=0.548

algorithm=brute, CV Accuracy=0.456
algorithm=brute, Test Accuracy=0.532

In [ ]:
from sklearn.ensemble import VotingClassifier, RandomForestClassifier, GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [ ]:


# Split data

# Define models
svc_model = SVC(kernel='sigmoid', C=1, gamma='auto', probability=True)
#rf_model = RandomForestClassifier(n_estimators=200, max_depth=10, min_samples_split=10, random_state=42)
gb_model = GradientBoostingClassifier(n_estimators=100, max_depth=3, learning_rate=0.2, random_state=42)
knn_model = KNeighborsClassifier(n_neighbors=11, algorithm='ball_tree', weights='uniform')
xgb_mv = xgb.XGBClassifier(
            max_depth=3,
            learning_rate=0.1,
            n_estimators=100,
            objective= 'multi:softmax',

            random_state=42
        )

# Voting classifier
voting_clf = VotingClassifier(
    estimators=[
        ('svc', svc_model),
        ('xgb', xgb_mv),
        ('gb', gb_model),
        ('knn', knn_model),

    ],
    voting='soft'
)

# Cross-validation accuracy (on training set)
cv_scores = cross_val_score(voting_clf, X_train_pca, y_train_log, cv=5)
print(f"Voting Classifier CV Accuracy: {cv_scores.mean():.3f}")

# Train on full training set
voting_clf.fit(X_train_pca, y_train_log)

# Test accuracy
y_pred = voting_clf.predict(X_test_pca)
test_accuracy = accuracy_score(y_test_log, y_pred)
print(f"Voting Classifier Test Accuracy: {test_accuracy:.3f}")

Voting Classifier CV Accuracy: 0.476
Voting Classifier Test Accuracy: 0.468

In [ ]:
from sklearn.ensemble import StackingClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import GradientBoostingClassifier
import xgboost as xgb

# Define base models
svc_model = SVC(kernel='sigmoid', C=1, gamma='auto', probability=True)
gb_model = GradientBoostingClassifier(n_estimators=100, max_depth=3, learning_rate=0.1, random_state=42)
knn_model = KNeighborsClassifier(n_neighbors=11, algorithm='ball_tree', weights='uniform')
xgb_mv = xgb.XGBClassifier(
    max_depth=3,
    learning_rate=0.1,
    n_estimators=100,
    objective='multi:softmax',
    random_state=42,
    use_label_encoder=False,
    eval_metric='mlogloss'
)

# Meta-model (final estimator)
meta_model = LogisticRegression(max_iter=700)

# Stacking classifier
stacking_clf = StackingClassifier(
    estimators=[
        ('svc', svc_model),
        ('xgb', xgb_mv),
        ('gb', gb_model),
        ('knn', knn_model),
    ],
    final_estimator=meta_model,
    cv=5,
    passthrough=False,  # Set to True if you want to include original features for meta-model
    n_jobs=-1
)

# Cross-validation on training set
cv_scores = cross_val_score(stacking_clf, X_train, y_train_log, cv=5)
print(f"Stacking Classifier CV Accuracy: {cv_scores.mean():.3f}")

# Train on full training set
stacking_clf.fit(X_train, y_train_log)

# Evaluate on test set
y_pred = stacking_clf.predict(X_test)
test_accuracy = accuracy_score(y_test_log, y_pred)
print(f"Stacking Classifier Test Accuracy: {test_accuracy:.3f}")

Stacking Classifier CV Accuracy: 0.444
Stacking Classifier Test Accuracy: 0.500

In [ ]:

# Initialize the SVC model
svc_model = SVC(kernel='sigmoid', C=1, gamma='auto')

# Cross-validation on training set
cv_scores_svc = cross_val_score(svc_model, X_train, y_train_log, cv=5)
print(f"SVC Model CV Accuracy: {cv_scores_svc.mean():.3f}")

# Train on full training set
svc_model.fit(X_train, y_train_log)

# Evaluate on test set
y_pred_svc = svc_model.predict(X_test)
test_acc_svc = accuracy_score(y_test_log, y_pred_svc)
print(f"SVC Model Test Accuracy: {test_acc_svc:.3f}\n")

SVC Model CV Accuracy: 0.448
SVC Model Test Accuracy: 0.532

In [ ]:
rf_model = RandomForestClassifier(n_estimators=200, max_depth=10, min_samples_split=10, random_state=42)

# Cross-validation on training set
cv_scores_rf = cross_val_score(rf_model, X_train_pca, y_train_log, cv=5)
print(f"Random Forest Model CV Accuracy: {cv_scores_rf.mean():.3f}")

# Train on full training set
rf_model.fit(X_train_pca, y_train_log)

# Evaluate on test set
y_pred_rf = rf_model.predict(X_test_pca)
test_acc_rf = accuracy_score(y_test_log, y_pred_rf)
print(f"Random Forest Model Test Accuracy: {test_acc_rf:.3f}\n")

Random Forest Model CV Accuracy: 0.444
Random Forest Model Test Accuracy: 0.500

In [ ]:
gb_model = GradientBoostingClassifier(n_estimators=100, max_depth=3, learning_rate=0.2, random_state=42)

# Cross-validation on training set
cv_scores_gb = cross_val_score(gb_model, X_train_pca, y_train_log, cv=5)
print(f"Gradient Boosting Model CV Accuracy: {cv_scores_gb.mean():.3f}")

# Train on full training set
gb_model.fit(X_train_pca, y_train_log)

# Evaluate on test set
y_pred_gb = gb_model.predict(X_test_pca)
test_acc_gb = accuracy_score(y_test_log, y_pred_gb)
print(f"Gradient Boosting Model Test Accuracy: {test_acc_gb:.3f}\n")

Gradient Boosting Model CV Accuracy: 0.476
Gradient Boosting Model Test Accuracy: 0.532

In [ ]:

knn_model = KNeighborsClassifier(n_neighbors=11, algorithm='ball_tree', weights='uniform')

# Cross-validation on training set
cv_scores_knn = cross_val_score(knn_model, X_train_pca, y_train_log, cv=5)
print(f"KNeighbors Model CV Accuracy: {cv_scores_knn.mean():.3f}")

# Train on full training set
knn_model.fit(X_train_pca, y_train_log)

# Evaluate on test set
y_pred_knn = knn_model.predict(X_test_pca)
test_acc_knn = accuracy_score(y_test_log, y_pred_knn)
print(f"KNeighbors Model Test Accuracy: {test_acc_knn:.3f}\n")

KNeighbors Model CV Accuracy: 0.464
KNeighbors Model Test Accuracy: 0.548

In [ ]:
# Initialize the XGBoost model
xgb_mv = xgb.XGBClassifier(
    max_depth=3,
    learning_rate=0.2,
    n_estimators=100,
    objective='multi:softmax',
    random_state=42
)

# Cross-validation on training set
cv_scores_xgb = cross_val_score(xgb_mv, X_train, y_train_log, cv=5)
print(f"XGBoost Model CV Accuracy: {cv_scores_xgb.mean():.3f}")

# Train on full training set
xgb_mv.fit(X_train, y_train_log)

# Evaluate on test set
y_pred_xgb = xgb_mv.predict(X_test)
test_acc_xgb = accuracy_score(y_test_log, y_pred_xgb)
print(f"XGBoost Model Test Accuracy: {test_acc_xgb:.3f}\n")

XGBoost Model CV Accuracy: 0.440
XGBoost Model Test Accuracy: 0.484